.avaliable-shipimage {
    width: 120px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

    .avaliable-shipimage-item {
        display: none;
        background-size: contain;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        width: 120px;
        height: 80px;

        &.active-shipimage-item {
            display: block;
        }
    }
}

.two-ships {
    width: 260px;
    overflow: hidden;

    .avaliable-shipimage-item {
        display: inline-block;
        transition-duration: .3s;
        transition-property: all;

        &.ship1 {
            position: relative;
            z-index: 1;

            &::after {
                // content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 50%;
                height: 100%;
                background-color: red;
                z-index: 10;
            }
        }

        &.ship2 {
            margin-left: 10px;
            transform: rotateY(180deg);
        }
    }
}