.button {
    position: relative;

    // overflow: hidden;
    display: inline-block;
    padding: 12px 50px;
    border: 3px solid #000;
    font-size: 11.5px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: linear;
    cursor: pointer;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition-duration: .3s;
        transition-property: all;
        transition-timing-function: linear;
        transform: scale(0);
    }

    &::before {
        left: -3px;
        bottom: -3px;
        border-left: 3px solid #000;
        border-bottom: 3px solid #000;
        transform-origin: left bottom;
    }

    &::after {
        right: -3px;
        top: -3px;
        border-right: 3px solid #000;
        border-top: 3px solid #000;
        transform-origin: right top;
    }

    &:hover {
        border-color: transparent;

        &::before,
        &::after {
            width: calc(100% + 3px);
            transform: scale(1);
        }
    }

    &.button-alt {
        position: relative;
        border-color: $yellow;
        background-color: transparent;
        cursor: pointer;

        &::before {
            left: -3px;
            bottom: -3px;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
            transform-origin: left bottom;
        }

        &::after {
            right: -3px;
            top: -3px;
            border-right: 3px solid #fff;
            border-top: 3px solid #fff;
            transform-origin: right top;
        }

        &:hover {
            border-color: transparent;
        }
    }

    &.success {
        background-color: $yellow;
    }

    &.white-button {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
    }

    &.transparent {
        opacity: 0.5;
    }
}

input[type="submit"].button.button-alt {
    transition-property: all;
    transition-duration: .3s;

    &:hover {
        border-color: #fff;
    }
}

.button-triangle {
    position: relative;
    display: inline-block;
    width: 104px;
    height: 90px;
    background-image: url("../images/ui/button-triangle.png");
    background-repeat: no-repeat;
    background-position: center center;
    transition-duration: .5s;
    transition-property: all;

    .button-trangle-text {
        position: absolute;
        top: 20%;
        left: 50%;
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        transform: translateX(-50%);
    }
}

.button-secondary {
    display: inline-block;
    min-width: 100px;
    padding: 9px 16px;
    border-top: 2px solid $yellow;
    border-bottom: 2px solid $yellow;
    font-family: $f-bold;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: $gray-dark;
}

.button-big {
    position: relative;

    // overflow: hidden;
    display: inline-block;
    padding: 15px 41px;
    font-family: $f-bold;
    font-size: 31.6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $yellow;
    border: 4px solid $yellow;

    @media (min-width: 992px) and (max-height: 950px) {
        font-size: 20px;
        padding: 10px 35px;
    }

    @include breakpoint(small) {
        padding: 15px 30px;
        font-size: 18px;
    }


    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition-duration: .3s;
        transition-property: all;
        transform: scale(0);
    }

    &::before {
        left: -4px;
        bottom: -4px;
        border-left: 4px solid #fff;
        border-bottom: 4px solid #fff;
        transform-origin: left bottom;
    }

    &::after {
        right: -4px;
        top: -4px;
        border-right: 4px solid #fff;
        border-top: 4px solid #fff;
        transform-origin: right top;
    }

    &:hover {
        border-color: transparent;

        &::before,
        &::after {
            transform: scale(1);
            width: calc(100% + 4px);
        }
    }
}

//svg-button
.btn-triangle {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    transition-duration: .3s;
    transition-property: all;
}

.btn-triangle--inner {
    transform: rotate(180deg) translate(-3px, 4px) scale(0.75);
}