.icon {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $yellow;
    background-repeat: no-repeat;
    background-position: center center;
    transition-duration: .3s;
    transition-property: all;

    &-aircraft {
        background-image: url("../images/ui/icon-aircraft.png");
    }

    &-car {
        background-image: url("../images/ui/icon-car.png");
    }
}