input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea, .pseudo-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $yellow;
    font-family: 'SourceSansPro-Regular';

    &::-webkit-input-placeholder {
        color: $darken;
        text-overflow: ellipsis;
        opacity: .7;
    }

    &::-moz-placeholder {
        color: $darken;
        text-overflow: ellipsis;
        opacity: .7;
    }

    /* Firefox 19+ */
    &:-moz-placeholder {
        color: $darken;
        text-overflow: ellipsis;
        opacity: .7;
    }

    /* Firefox 18- */
    &:-ms-input-placeholder {
        color: $darken;
        text-overflow: ellipsis;
        opacity: .7;
    }

    &.error {
        border-bottom: 2px solid $red;
    }
}

textarea {
    background-color: rgba(#fff, 0.3);
    border: 2px solid $yellow;
    resize: none;
    padding: 10px;

    &.error {
        border: 2px solid $red;
    }
}

.pseudo-input.empty {
    height: 100%;
    border-color: rgba($darken, 0.3);
}

select {
    border: none;
    background-color: transparent;

    // text-transform: uppercase;
    color: rgba($darken, 0.7);
}

.input-date {
    position: relative;
    display: inline-block;

    input {
        position: relative;
        z-index: 1;
        padding-right: 25px;
        text-align: right;
    }

    &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 5px;
        background-image: url(../images/ui/icon-date.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
    }
}