.link-arrow {
    position: relative;
    z-index: 5;
    display: inline-block;
    padding-right: 30px;
    font-family: $sans-light;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0px;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 25px;
        height: 21px;
        transform: translateY(-50%);
        background-image: url("../images/ui/arrow-right.png");
    }

    @include breakpoint(large) {
        font-size: 20px;
    }


    &.left {
        padding-right: 0;
        padding-left: 30px;

        &::after {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 25px;
            height: 21px;
            transform: translateY(-50%);
            background-image: url("../images/ui/arrow-right.png");
            transform: translateY(-50%) rotate(180deg);
        }
    }
}