.logo-container {
    display: none;
    width: 96px;
    height: 84px;
    z-index: 11;

    .logo-link {
        display: block;
        height: 100%;
    }

    .logo-mini {
        position: absolute;
        left: 0;
        top: 0;
        transition-duration: .3s;
        transition-property: all;

        &.black {
            opacity: 0;
        }
    }

    @include breakpoint(small) {
        display: none;
    }
}