.logo {
    position: absolute;
    left: 50%;
    top: 45%;
    display: inline-block;

    //width: 100%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);

    // overflow: hidden;

    @media (max-height: 380px) {
        top: 25px;
        transform: translate(-50%, 0%);
    }

    @include breakpoint(small) {
        img {
            //max-width: 60%;
       
        }
    }


    @include breakpoint(extra-small) {
        img {
            //max-width: 50%;
       
        }
    }


    @include breakpoint(mobile-landscape) {
        max-width: 227px;
        width: 100%;
    }
}

.logo-title,
.logo-subtitle {
    font-family: $sans-regular;
}

.logo-title {
    display: flex;
    margin-bottom: 3px;
    font-size: 33px;
    font-weight: normal;
    letter-spacing: 6px;
    justify-content: center;

    @include breakpoint(extra-small) {
        font-size: 25px;
    }


    span {
        display: block;
        opacity: 0;
        transition-duration: 300ms;
        transition-timing-function: linear;
        transition-property: opacity;

        // transform: translateY(-20px);

        @for $i from 0 through 15 {
            &:nth-child(#{$i}) {
                transition-delay: 2800ms + $i * 120ms;
            }
        }
    }

    // span + span {
    //     margin-left: -10px;
    // }
}

.logo-subtitle {
    display: flex;
    font-size: 12px;
    letter-spacing: 9px;
    justify-content: center;

    span {
        display: block;
        opacity: 0;
        transition-duration: 300ms;
        transition-timing-function: linear;
        transition-property: opacity;

        @for $i from 0 through 15 {
            &:nth-child(#{$i}) {
                transition-delay: 3000ms + $i * 120ms;
            }
        }
    }
}

.logo-image {
    position: relative;
    padding-top: 8px;
    max-width: 227px;
    margin: 0 auto;

    .triangle {
        // overflow: hidden;

        .top-side {
            opacity: 0;
            position: absolute;
            top: 0;

            // width: 0;
            height: 8px;

            // animation-name: logo-top;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
        }

        .left-side {
            opacity: 0;
            transform: translate(98%, 103%);

            // animation-name: logo-left;
            animation-duration: 0.6s;
            animation-delay: 1.2s;
            animation-fill-mode: forwards;
        }

        .right-side {
            opacity: 0;
            transform: translate(95.5%, -99.5%);

            // animation-name: logo-right;
            animation-duration: 0.6s;
            animation-delay: 0.6s;
            animation-fill-mode: forwards;
        }
    }

    .fish {
        opacity: 0;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-property: opacity;
        transition-duration: 0.9s;
        transition-timing-function: linear;
        transition-delay: 2.2s;
    }
}

@keyframes logo-top {
    from {
        // width: 0;
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);

        // width: 227px;
   
    }
}

@keyframes logo-left {
    from {
        transform: translate(98%, 103%);
        opacity: 0;
    }

    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes logo-right {
    from {
        transform: translate(95.5%, -99.5%);
        opacity: 0;
    }

    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

.lamp {
    overflow: hidden;
    width: 50px;
    height: 50px;
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.logo-titles-wrapper {
    margin-bottom: 34px;
    position: relative;

    &::after {
        display: none;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.home {
    .scroll-bottom {
        opacity: 0;
        bottom: -150px;
        transform: translateY(-30px) translateX(-50%);
        transition-property: opacity, transform;
        transition-duration: 400ms;
        transition-delay: 5.5s;
        transition-timing-function: linear;
    }

    .page-navigation li {
        opacity: 0;
        transition-duration: 300ms;
        transition-property: transform, opacity;
        transition-timing-function: linear;
        transform: translateX(20px);

        @for $i from 0 through 15 {
            &:nth-child(#{$i}) {
                transition-delay: 3500ms + $i * 150ms;
            }
        }
    }
}

.home.loaded {
    .logo-title, .logo-subtitle {
        span {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .page-navigation li {
        transform: translateX(0);
        opacity: 1;
    }

    .scroll-bottom {
        // animation-delay: 2s;
        opacity: 1;
        bottom: 20px;
        transform: translateY(0) translateX(-50%);
    }

    .logo-image {
        .fish {
            opacity: 1;
        }

        .triangle {
            // overflow: hidden;

            .top-side {
                animation-name: logo-top;
            }

            .left-side {
                animation-name: logo-left;
            }

            .right-side {
                animation-name: logo-right;
            }
        }
    }
}