.mfp-image-holder {
    .mfp-content {
        max-width: 75%;
    }
}

.mfp-arrow {
    margin-top: 0;
    transform: translateY(-50%);

    &:active {
        margin-top: 0;
    }
}

.mfp-close {
    top: 10px;
}