.ms-options-wrap {
    width: 250px;
    border-bottom: 2px solid $yellow;

    button {
        border: none;
        background-color: transparent;
        padding-right: 25px;
        font-family: 'SourceSansPro-Regular';
        font-size: 14px;
        text-transform: uppercase;
        text-align: right;
        color: #fff;

        &::after {
            right: 1px;
            border-top-color: #fff;
            border-width: 10px 7px 0 7px;
        }

        &:focus,
        &:active {
            border: none;
            background-color: transparent;
            font-size: 14px;
            text-align: right;
            color: #fff;
        }
    }

    .ms-options {
        // bottom: 0;
        margin-bottom: 0;
        padding: 5px 10px;
        text-align: left;

        .check-all {
            position: relative;
            left: 4px;
            display: inline-block;
            width: 13px;
            height: 13px;

            &::before {
                font-size: 0;
                font-family: 'times new roman';
                line-height: 14px;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 14px;
                height: 14px;
                content: '\2713';
                transition: all .1s linear;
                text-align: center;
                color: #000;
                border: 1px solid #f0c73a;
                background-color: transparent;
                box-sizing: border-box;
            }

            &.selected {
                &::before {
                    font-size: 18px;
                    background-color: transparent;
                    text-shadow: 1px 1px 0 #05a4c1;
                }
            }
        }

        .ms-selectall.global {
            margin-bottom: 8px;
            margin-left: 20px;
            font-size: 13px;
            text-transform: uppercase;
        }

        input {
            max-width: auto;
        }

        ul {
            border-top: 2px solid #ccc;
            padding-top: 10px;

            label {
                padding-left: 10px;
                font-size: 12px;
                border: none;

                &:hover,
                &:active,
                &:focus {
                    background-color: transparent;
                    color: $darken;
                }
            }

            li.selected {
                label {
                    background-color: #fff6f6;
                    color: $darken;
                }
            }

            input[type='checkbox'] {
                top: 3px;
                width: 0;
                height: 0;
            }

            input[type='checkbox']:after {
                font-size: 0;
                font-family: 'times new roman';
                line-height: 14px;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 14px;
                height: 14px;
                content: '\2713';
                -webkit-transition: all .1s linear;
                -moz-transition: all .1s linear;
                transition: all .1s linear;
                text-align: center;
                color: #000;
                border: 1px solid $yellow;
                background-color: #fff;
                box-sizing: border-box;
            }

            input[type='checkbox']:checked:after {
                font-size: 18px;
                background-color: transparent;
                -webkit-text-shadow: 1px 1px 0 #05a4c1;
                -moz-text-shadow: 1px 1px 0 #05a4c1;
                text-shadow: 1px 1px 0 #05a4c1;
            }
        }
    }
}