.overlay {
    display: none;
    position: fixed;
    z-index: 150;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#12416d, 0.91);

    // transform: translate(-50%, -50%);

    // transition: .5s all linear;

    // &.animate-overlay {
    //     width: 200vw;
    //     height: 200vh;
    //     left: 0;
    //     bottom: 0;
    //     top: 0;
    //     right: 0;
    //     transition: .5s all;
    // }
}

#sv01 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}