.select2-container {
    border-bottom: 2px solid #f0c73a;
}

.select2-dropdown {
    border-radius: 0;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff6f6;
}

.select2-container--default {
    .select2-selection--single {
        border: none;
        border-radius: 0;
        background-color: transparent;

        .select2-selection__rendered {
            padding-right: 25px;
            font-size: 14px;
            color: #fff;
        }

        .select2-selection__arrow b {
            border-width: 10px 7px 0 7px;
            border-top-color: #fff;
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: #fff6f6;
        color: $darken;
    }

    &.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow b {
                border-width: 0 7px 10px 7px;
                border-bottom-color: #fff;
            }
        }
    }
}

.select2-search--dropdown {
    display: none;
}