.title-divider {
    position: relative;
    margin-bottom: 50px;

    &::after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 42px;
        height: 9px;
        background-image: url("../images/ui/menu-active.png");
        background-repeat: no-repeat;
    }
}