.triangle-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 89vh;
    height: 80vh;
    transform: translateX(-50%);

    .top-triangle,
    .bottom-triangle {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        width: 50%;
        height: 150%;
        transition: .3s all;
    }

    .top-triangle {
        left: 1px;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #fff;
            transform: rotate(29.5deg);
            transform-origin: bottom left;
            transition: .3s all;

            // animation-name: showTopTriangle;
            // animation-fill-mode: forwards;
            // animation-duration: 2s;
       
        }
    }

    .bottom-triangle {
        right: 1px;
        z-index: -1;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #fff;
            transform: rotate(-29.5deg);
            transform-origin: bottom right;
            transition: .3s all;

            // animation-name: showBottomTriangle;
            // animation-fill-mode: forwards;
            // animation-duration: 2s;
       
        }
    }
}