.video {
    // max-width: 717px;
    //max-width: 75vh;
    width: 100%;
    margin: auto;

    .video-wrapper {
        position: relative;
        padding-top: 42%;
    }

    .iframe-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}