.about {
    .logo-mini {
        position: fixed;
        bottom: 28px;
        left: 23px;
        transform: translateZ(0);
        z-index: 11;
    }

    .main-header {
        .menu-toggle {
            span {
                background-color: $blue-dark;
            }
        }
    }

    .customer-menu {
        color: $blue-dark;
    }

    .footer-main {
        transform: none;
    }

    @include breakpoint(small) {
        .logo-mini {
            display: none;
        }

        .main-header {
            .menu-toggle {
                span {
                    background-color: #fff;
                }
            }
        }

        .customer-menu {
            color: #fff;
        }
    }


    .section-left, .section-right {
        .triangle-wrapper.second, .triangle-wrapper.first {
            transition-timing-function: linear;
            transition-duration: 800ms;
            transition-property: left;
        }
    }

    .section-left {
        .triangle-wrapper.second {
            left: 10%;

            // left: 20%;
       
        }

        .triangle-wrapper.first {
            left: 90%;

            // left: 80%;
       
        }
    }

    // .section-right {
    //     .triangle-wrapper.second {
    //         // left: 20%;
    //         left: 50%;
    //     }

    //     .triangle-wrapper.first {
    //         // left: 80%;
    //         left: 50%;
    //     }
    // }

    .animated.section-left {
        .triangle-wrapper.second {
            left: 80%;
        }

        .triangle-wrapper.first {
            left: 20%;
        }
    }

    // .animated.section-right {
    //     .triangle-wrapper.second {
    //         left: 80%;
    //     }

    //     .triangle-wrapper.first {
    //         left: 20%;
    //     }
    // }
}