.contact {
    .footer-main {
        position: relative;
        transform: none;

        .social-icons {
            position: absolute;
            bottom: 50px;
            display: inline-block;
        }
    }

    .booking-form {
        opacity: 1;
    }

    @media (min-width: 992px) {
        .contact-content {
            opacity: 0;
            transform: translateY(-15px);
            transition-property: opacity, transform;
            transition-duration: 1.5s;
            transition-delay: .2s;
        }

        &.loaded {
            .contact-content {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}