.custom-trip {
    .type-of-fishing {
        max-width: 845px;
        margin-top: 50px;
        padding-bottom: 50px;

        .type-of-fishing-nav {
            .fishing-nav-slide-img-wrapper {
                width: 125px;
                height: 125px;
            }
        }
    }

    .type-of-fishing-content {
        text-align: center;
    }

    .tour-locations-body {
        // margin-top: 90px;
   
    }

    .book-form-wrapper {
        // margin-top: 15px;
   
    }

    @include breakpoint(small) {
        .tour-locations-body {
            margin-top: 0;
        }
    }
}