.fleet-page {
    &.section1, &.section2 {
        .customer-menu {
            color: $blue-dark;
        }

        .main-header {
            .menu-toggle {
                span {
                    background-color: #000;
                }
            }
        }

        .social-icons {
            color: $blue-dark;
        }
    }

    &.section2 {
        .page-navigation {
            li {
                a {
                    border: 2px solid rgba(#333, 0.3);
                }

                &.active {
                    .page-title {
                        color: rgba(#333, 0.5);
                    }

                    a::before {
                        background-color: rgba(#333, 0.5);
                    }
                }

                &.active-page-nav {
                    border: 2px solid #333;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #333;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

    &.visible-footer {
        .logo-mini {
            display: none;
        }

        .social-icons {
            color: #fff;
        }
    }

    .footer-main {
        transform: none;
    }

    @include breakpoint(small) {
        .page-content {
            overflow: visible;
        }

        .logo-mini {
            display: none;
        }
    }


    &.loaded {
        /* CSS for elements before their be animated */
        @media (min-width: 992px) {
            .ship-image,
            .big-heading {
                opacity: 0;
                transition-property: opacity;
                transition-duration: 900ms;
                transition-delay: 400ms;
                transition-timing-function: linear;
            }

            .ship-link {
                opacity: 0;
                transform: translateX(30px) translateY(50%);
                transition-property: opacity, transform;
                transition-duration: 800ms;
                transition-delay: 500ms;
                transition-timing-function: linear;
            }

            .one-column {
                opacity: 0;
                transform: translateY(30px);
                transition-property: opacity, transform;
                transition-duration: 800ms;
                transition-delay: 500ms;
                transition-timing-function: linear;
            }

            .ship-description-wrapper,
            .ship-description-columns {
                opacity: 0;
                transition-property: opacity;
                transition-duration: 1000ms;
                transition-delay: 700ms;
                transition-timing-function: linear;
            }

            .ship-description-image-col {
                opacity: 0;
                transform: translateX(30px);
                transition-property: opacity, transform;
                transition-duration: 800ms;
                transition-delay: 1200ms;
                transition-timing-function: linear;
            }

            .ship-description-image-text {
                opacity: 0;
                transform: translateY(-30px);
                transition-property: opacity, transform;
                transition-duration: 800ms;
                transition-delay: 1200ms;
                transition-timing-function: linear;
            }

            .ship-slider-wrapper {
                opacity: 0;
                transition-property: opacity;
                transition-duration: 1000ms;
                transition-delay: 2400ms;
                transition-timing-function: linear;
            }

            .ship-description-button-wrapper {
                opacity: 0;
                transform: translateY(-30px);
                transition-property: opacity,transform;
                transition-duration: 1200ms;
                transition-delay: 1000ms;
                transition-timing-function: linear;
            }

            /* CSS for elements after their be animated */
            .animated {
                .ship-image,
                .big-heading {
                    opacity: 1;
                }

                .ship-link {
                    opacity: 1;
                    transform: translateX(0) translateY(50%);
                }

                .one-column {
                    opacity: 1;
                    transform: translateY(0);
                }

                .ship-description-wrapper,
                .ship-description-columns {
                    opacity: 1;
                }

                .ship-description-image-col {
                    opacity: 1;
                    transform: translateX(0);
                }

                .ship-description-image-text {
                    opacity: 1;
                    transform: translateY(0);
                }

                .ship-slider-wrapper {
                    opacity: 1;
                }

                .ship-description-button-wrapper {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}