.fleet-main {
    @include breakpoint(extra-small) {
        .social-icons {
            color: $darken;
        }
    }


    @media (max-width: 1199px) and (orientation: portrait) {
        .social-icons {
            color: $darken;
        }
    }
}