.home {
    .logo-container {
        position: fixed;
        bottom: 20px;
        left: 35px;
    }

    .home-divider {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        &.top {
            top: -20px;
        }

        &.bottom {
            bottom: 10px;
        }
    }

    .menu-toggle, .customer-menu, .social-icons {
        opacity: 0;

        // animation-name: fadeIn;
        animation-duration: 1.2s;
        animation-delay: 5s;
        animation-fill-mode: forwards;
    }

    &.section2, &.section6 {
        .main-header {
            .menu-toggle {
                span {
                    background-color: #fff;
                }
            }
        }

        .logo-container {
            .logo-mini {
                &.black {
                    opacity: 0;
                }

                &.white {
                    opacity: 1;
                }
            }
        }

        .social-icons {
            color: #fff;
        }
    }

    &.section3, &.section6 {
        .page-navigation {
            li {
                a {
                    border: 2px solid #fff;

                    &::before {
                        background-color: #fff;
                    }
                }

                &.active {
                    .page-title {
                        color: #fff;
                    }

                    a::before {
                        background-color: #fff;
                    }
                }
            }
        }

        .social-icons {
            color: #fff;
        }
    }

    &.section4, &.section7 {
        .social-icons {
            color: $darken;
        }

        .page-navigation {
            li {
                a {
                    border: 2px solid rgba(#333, 0.3);
                }

                &.active {
                    .page-title {
                        color: rgba(#333, 0.5);
                    }

                    a::before {
                        background-color: rgba(#333, 0.5);
                    }
                }

                &.active-page-nav {
                    border: 2px solid #333;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #333;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

    &.section4, &.section7 {
        .main-header {
            .menu-toggle {
                span {
                    background-color: $blue-dark;
                }
            }
        }

        .logo-container {
            .logo-mini {
                &.black {
                    opacity: 1;
                }

                &.white {
                    opacity: 0;
                }
            }
        }
    }

    &.section7 {
        .page-navigation {
            display: flex;
        }
    }

    // .animated {
    //     .scroll-bottom {
    //         animation-delay: 2s;
    //     }
    // }

    @include breakpoint(small) {
        .home-divider {
            display: block;
        }

        .section + .section {
            margin-top: 30px;
        }

        .page-content {
            overflow-x: hidden;
        }
    }


    /* CSS for elements before their be animated */
    @media (min-width: 992px) {
        .home-title {
            opacity: 0;
            transition-property: opacity, transform;
            transition-duration: 400ms;
            transition-timing-function: linear;
            transition-delay: 400ms;
        }

        .tours {
            .triangle-wrapper {
                opacity: 0;
                transform: translateX(-50%) translateY(20px);
                transition-property: opacity, transform;
                transition-duration: 1000ms;
                transition-timing-function: linear;
                transition-delay: 400ms;
            }

            .tours-right {
                .coordinate {
                    opacity: 0;
                    transform: translateX(-50%) translateY(-20px);
                    transition-property: opacity, transform;
                    transition-duration: 1000ms;
                    transition-timing-function: linear;
                    transition-delay: 400ms;
                }
            }

            .tours-left {
                opacity: 0;
                transform: translateY(-20px);
                transition-property: opacity, transform;
                transition-duration: 1000ms;
                transition-timing-function: linear;
                transition-delay: 400ms;
            }
        }

        .fleet-img-left {
            opacity: 0;
            transform: translateX(-10px);
            transition-property: opacity,transform;
            transition-duration: 1000ms;
            transition-timing-function: linear;
        }

        .fleet-img-right {
            opacity: 0;
            transform: translateX(10px);
            transition-property: opacity, transform;
            transition-duration: 1000ms;
            transition-timing-function: linear;
        }

        .fleet-title {
            opacity: 0;
            transition-property: opacity;
            transition-duration: 800ms;
            transition-delay: 200ms;
            transition-timing-function: linear;

            &::after {
                transition-property: all;
                transition-duration: 600ms;
                transition-delay: 400ms;
                transition-timing-function: linear;
            }
        }

        .type-of-fishing {
            opacity: 0;
            transform: translateY(-10px);
            transition-property: opacity, transform;
            transition-duration: 800ms;
            transition-timing-function: linear;
        }

        .slider {
            opacity: 0;
            transform: translateY(-10px);
            transition-property: opacity, transform;
            transition-duration: 800ms;
            transition-timing-function: linear;
        }

        .about-us-home {
            .triangle-wrapper {
                opacity: 0;
                transform: translateX(-50%) translateY(10px);
                transition-property: opacity, transform;
                transition-duration: 800ms;
                transition-timing-function: linear;
            }

            .main-triangle-image {
                opacity: 0;
                transform: translateY(-10px);
                transition-property: opacity, transform;
                transition-duration: 1200ms;
                transition-timing-function: linear;
            }

            .left-triangle-image,
            .right-triangle-image {
                opacity: 0;
                transition-property: opacity;
                transition-duration: 800ms;
                transition-timing-function: linear;
                transition-delay: 400ms;
            }

            .learn-more-wrapper {
                opacity: 0;
                transition-property: opacity;
                transition-duration: 600ms;
                transition-timing-function: linear;
                transition-delay: 600ms;
            }
        }

        .contact-content {
            opacity: 0;
            transition-property: opacity, transform;
            transition-duration: 1600ms;
            transition-delay: 400ms;
            transition-timing-function: linear;
        }

        /* CSS for elements after their be animated */
        .animated {
            .home-title {
                opacity: 1;
            }

            .tours {
                .triangle-wrapper {
                    opacity: 1;
                    transform: translateX(-50%) translateY(0px);
                }

                .tours-right {
                    .coordinate {
                        opacity: 1;
                        transform: translateX(-50%) translateY(0);
                    }
                }

                .tours-left {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .fleet-img-left {
                opacity: 1;
                transform: translateX(0);
            }

            .fleet-img-right {
                opacity: 1;
                transform: translateX(0);
            }

            .fleet-title {
                opacity: 1;

                &::after {
                    width: 208px;
                    right: -50%;
                }
            }

            .slider {
                opacity: 1;
                transform: translateY(0);
            }

            .type-of-fishing {
                opacity: 1;
                transform: translateY(0);
            }

            .about-us-home {
                .triangle-wrapper {
                    opacity: 1;
                    transform: translateX(-50%) translateY(0);
                }

                .main-triangle-image {
                    opacity: 1;
                    transform: translateY(0);
                }

                .left-triangle-image,
                .right-triangle-image {
                    opacity: 1;
                }

                .learn-more-wrapper {
                    opacity: 1;
                }
            }

            .contact-content {
                opacity: 1;
            }
        }
    }
}

.loaded {
    .menu-toggle, .customer-menu, .social-icons {
        opacity: 1;
        animation-name: fadeIn;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}