.tour-selector {
    .tour-locations-logo-wrapper {
        transform: translateY(-5%);
        opacity: 0;
        transition-duration: 500ms;
    }

    .tour-pagination-item--next, .tour-pagination-item--prev {
        opacity: 0;
        transition-delay: 2000ms;
        transition-duration: 500ms;
        transition-timing-function: linear;
    }

    .tour-pagination {
        &::before, &::after {
            max-width: 0;
            transition-duration: 1500ms;
            transition-delay: 2400ms;
            transition-timing-function: linear;
        }
    }

    .tour-pagination-item {
        transition-duration: 400ms;
        opacity: 0;
        transition-timing-function: linear;
        transition-property: opacity;

        &::after {
            transition-duration: 300ms;
            max-width: 0;
            transition-timing-function: linear;
            transition-property: max-width;
        }

        @for $i from 0 through 15 {
            &:nth-child(#{$i}) {
                transition-delay: ($i - 2) * 200ms;

                &::after {
                    transition-delay: ($i - 2) * 200ms;
                }
            }
        }
    }

    .main-header, .social-icons, .logo-mini {
        opacity: 0;
        transition-duration: 1500ms;
        transition-delay: 2600ms;
        transition-timing-function: linear;
        transition-property: transform, opacity;
    }

    .tour-locations-title {
        // transform: translateY(-35px);
        opacity: 0;
        transition-duration: 800ms;
        transition-delay: 800ms;
    }

    .tour-locations-header {
        // transform: translateY(-125px);
        opacity: 0;
        transition-duration: 600ms;
        transition-delay: 100ms;
        background-color: transparent;
    }

    .tour-locations-header, .tour-locations-title, .tour-locations-logo-wrapper {
        transition-timing-function: linear;
        transition-property: transform, opacity;
    }

    .avaliable-shipimage-item {
        transition: all 1s;
        transition-delay: 0.5s;

        &.ship1 {
            opacity: 0.3;
            transform: translateY(-20px) translateX(20px);
        }

        &.ship2 {
            opacity: 0.3;
            transform: rotateY(180deg) translateY(-20px) translateX(20px);
        }
    }

    @include breakpoint(small) {
        .page-content-bg {
            position: absolute;
        }

        .main-header,
        .tour-locations-header {
            background-color: transparent;
        }

        .avaliable-shipimage {
            display: none;
        }

        .tour-locations-body {
            margin-top: 130px;
            padding-bottom: 0;
        }
    }
}

.tour-selector.loaded {
    // .animated, & {

    .main-header, .social-icons, .logo-mini {
        opacity: 1;
    }

    .tour-locations-logo-wrapper {
        transform: translateY(0%);
        opacity: 1;
    }

    .tour-locations-title {
        // transform: translateY(0px);
        opacity: 1;
    }

    .tour-locations-header {
        transform: translateY(0px);
        opacity: 1;
    }

    .avaliable-shipimage-item {
        &.ship1 {
            opacity: 1;
            transform: translateY(0) translateX(0);
        }

        &.ship2 {
            opacity: 1;
            transform: rotateY(180deg) translateY(0) translateX(0px);
        }
    }

    .tour-pagination {
        &::before, &::after {
            max-width: 1000px;
        }
    }

    .tour-pagination-item {
        opacity: 1;

        &::after {
            max-width: 300px;
        }
    }

    .tour-pagination-item--next, .tour-pagination-item--prev {
        opacity: 1;

        // transition-delay: 3000ms;
        // transition-duration: 500ms;
        // transition-timing-function: linear;
   
    }
}