.trips {
    .tour-locations-body {
        margin-top: 175px;
    }

    .logo-container {
        position: fixed;
        bottom: 28px;
        left: 38px;
        display: block;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 600ms;
        transition-delay: 800ms;
        transition-timing-function: linear;
    }

    .avaliable-shipimage {
        display: none;
    }

    &.fp-viewing-tour-eight {
        .logo-container {
            display: none;
        }
    }

    @media (min-width: 992px) and (max-width: 1400px) {
        .logo-mini,
        .logo-container {
            width: 60px;
        }

        .logo-container {
            height: 55px;
            bottom: 15px;
        }

        .tour-locations-body {
            margin-top: 120px;
        }
    }

    @media (min-width: 992px) and (max-height: 740px) {
        .book-form-wrapper {
            margin-top: 10px;

            .button-row {
                margin-top: 15px;
            }

            .booking-form {
                .booking-form-item,
                .ms-options-wrap {
                    width: 200px;
                }

                .form-row {
                    + .form-row {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    @include breakpoint(small) {
        .tour-locations-body {
            margin-top: 0;
            padding-top: 80px;
        }

        .logo-container {
            display: none;
        }

        .book-form-wrapper {
            margin-bottom: 20px;
        }
    }


    &.loaded,
    &.animated {
        @media (min-width: 992px) {
            .tour-menu {
                .tour-menu-item {
                    transform: translateX(0);
                    opacity: 1;
                }
            }

            .logo-container {
                opacity: 1;
            }
        }
    }

    &.section7-tour,
    &.section8-tour,
    &.section7 {
        .logo-container {
            display: none;
        }
    }
}