.abailable-tours {
    font-size: 21.5px;
    font-weight: bold;
    text-transform: uppercase;

    .big-number {
        display: inline-block;
        margin: 0 5px;
        margin-bottom: 5px;
        font-size: 81px;
        color: $yellow;
    }

    .button-big {
        margin-top: 15px;
    }

    @media (min-height: 750px) and (max-height: 950px) {
        .big-number {
            font-size: 55px;
        }
    }

    @include breakpoint(extra-small) {
        .big-number {
            font-size: 50px;
        }
    }
}