.about-us-home {
    background-color: $light-bg;

    .logo-mini {
        position: absolute;
        left: 38px;
        bottom: 28px;
    }

    .about-us-home-images {
        position: absolute;
        right: 0;
        height: 100%;
        width: 75%;
        text-align: center;

        .main-triangle-image {
            height: 100vh;
        }

        .left-triangle-image {
            position: absolute;
            right: 60%;
            transform: translateX(-50%) translateZ(0);
            top: 90px;
        }

        .right-triangle-image {
            position: absolute;
            transform: translateX(-50%) translateZ(0);
            left: 71%;
            bottom: 222px;
        }
    }

    .triangle-wrapper {
        left: auto;
        right: 36%;
        width: 650px;
        height: 600px;
        bottom: 222px;

        //my
        bottom: 23%;

        // bottom: auto;
        // top: 15%;

        // width: 67vh;

        .tours-content {
            padding-top: 300px;
            position: relative;
            z-index: 2;
            max-width: 270px;
            text-align: center;
            margin: 0 auto;
        }

        .toures-title {
            font-family: $sans-regular;
            letter-spacing: 1.2px;
        }

        p {
            font-size: 13px;
            line-height: 1.55;
            letter-spacing: 0.4px;
        }
    }

    .learn-more-wrapper {
        position: absolute;
        bottom: 160px;
        width: 650px;
        right: 36%;
        text-align: center;
        transform: translateX(-50%);

        //my
        bottom: 17%;

        a {
            font-family: $sans-light;
            font-size: 30px;
            text-transform: uppercase;
        }
    }

    @media (min-width: 1700px) {
        .about-us-home-images {
            .left-triangle-image {
                // right: 55%
           
            }

            .right-triangle-image {
                left: 65%;
            }
        }
    }

    @media (min-width: 1401px) and (max-width: 1900px) and (min-height: 700px) and (max-height: 890px) {
        .triangle-wrapper {
            width: 600px;
            right: 37%;
        }

        .about-us-home-images {
            .left-triangle-image {
                top: 45px;
            }
        }
    }

    @media (min-width: 1900px) {
        .triangle-wrapper {
            width: 67vh;
        }
    }

    // @media (min-width: 1600px) and (min-height: 820px) {
    //     .about-us-home-images {
    //         .left-triangle-image {
    //             top: 5%;
    //         }
    //     }
    // }

    @media (min-width: 1920px) and (min-height: 1150px) {
        .about-us-home-images {
            .left-triangle-image {
                right: 65%;
            }
        }
    }

    @media (max-width: 1400px) {
        .about-us-home-images {
            width: 70%;

            .left-triangle-image {
                right: 55%;
                top: 45px;
            }

            .right-triangle-image {
                // max-width: 350px;
                left: 75%;
                bottom: 100px;
            }
        }

        .triangle-wrapper {
            bottom: 100px;
            right: 26%;
        }

        .learn-more-wrapper {
            bottom: 50px;
            right: 26%;
        }
    }

    @media (min-width: 992px) and (max-width: 1400px) and (min-height: 600px) and (max-height: 700px) {
        .triangle-wrapper {
            bottom: 120px;
            right: 35%;
            width: 535px;
        }
    }

    @include breakpoint(medium) {
        .about-us-home-images {
            position: static;
            width: 100%;

            .main-triangle-image {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                height: 100%;
                width: auto;
                max-width: inherit;
            }

            .left-triangle-image, .right-triangle-image {
                display: none;
            }
        }

        .triangle-wrapper {
            bottom: 20%;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
        }

        .learn-more-wrapper {
            bottom: 15%;
            right: 50%;
            transform: translateX(50%);
        }
    }


    @include breakpoint(small) {
        min-height: 100vmax;

        .logo-mini {
            display: none;
        }

        .triangle-wrapper {
            background-color: #fff;
            bottom: 15%;
            min-width: inherit;
            width: auto;
            right: 40px;
            left: 40px;
            transform: none;
            height: auto;

            .top-triangle {
                display: none;
            }

            .bottom-triangle {
                display: none;
            }

            .tours-content {
                padding-top: 20px;
                padding-bottom: 25px;
                padding-left: 20px;
                padding-right: 20px;
                max-width: inherit;
            }
        }

        .learn-more-wrapper {
            bottom: 8%;
        }

        // @media orientation()
    }


    @include breakpoint(mobile) {
        .triangle-wrapper {
            right: 0;
            left: 0;
            bottom: 80px;
        }

        .learn-more-wrapper {
            bottom: 40px;
        }
    }
}