.about-section {
    position: relative;
    height: 100%;
    background-color: #f0f0f0;

    .read-more-wrapper {
        margin-top: 25px;
    }

    .about-title {
        position: absolute;
        top: 75px;
        left: 332px;
        max-width: 480px;
        font-family: $sans-light;
        font-size: 56px;
        font-weight: normal;
        letter-spacing: -1.6px;
        text-transform: uppercase;
        text-align: right;
        color: #fff;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 208px;
            height: 92px;
            background-image: url("../images/ui/trapezium.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transform: translateY(-50%) translateX(105%);
        }
    }

    .about-body {
        height: 100%;
        position: relative;

        .cap-bg {
            position: absolute;
            left: 20%;
            right: 9%;
            top: 13%;
            bottom: 0;
            z-index: 1;
            padding-top: 52%;
            background-repeat: no-repeat;
            background-position: center right;
            background-size: cover;

            &.left {
                left: 9%;
                background-position: center left;
            }
        }

        .triangle-wrapper {
            z-index: 3;
            width: 108vh;

            .triangle-content {
                position: absolute;
                left: 50%;
                top: 50%;
                max-width: 315px;
                text-align: center;
                transform: translateX(-50%) translateY(-50%);

                .triangle-title {
                    font-family: $sans-regular;
                    letter-spacing: 0.5px;
                    line-height: 1.2;
                    max-width: 200px;
                    margin-left: auto;
                    margin-right: auto;
                }

                p {
                    line-height: 1.5;
                    letter-spacing: 0.8px;

                    + p {
                        margin-top: 25px;
                    }
                }
            }

            &.first {
                left: 20%;
            }

            &.second {
                left: 80%;
            }

            &.hidden {
                z-index: 0;
            }
        }
    }

    &.left-indent {
        padding-left: 150px;

        .triangle-wrapper {
            left: 0;
            bottom: 82%;
            width: 840px;
            height: 840px;
            z-index: 0;
            transition: .3s all;
            transform: rotate(90deg) translateY(0px) translateX(0%);
            transform-origin: left bottom;

            .triangle-content {
                position: absolute;
                left: 29%;
                top: 26%;
                transform: rotate(-90deg) translateX(-70%);
            }
        }
    }

    .about-skew-bg {
        position: relative;
        height: 85vh;
        overflow: hidden;

        // -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        // clip-path: polygon(100% 0, 0 0, 100% 100%);
        -webkit-clip-path: url(#polygon-clip-triangle-right);
        clip-path: url(#polygon-clip-triangle-right);

        @extend .bg;

        &::before {
            content: "";
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 300%;
            height: 100%;
            background-color: #f0f0f0;
            transition-duration: .3s;
            transition-property: all;
            transform-origin: left top;
            transform: rotate(28.6deg);
        }
    }

    .about-us {
        position: absolute;
        bottom: 10%;
        right: 19%;
        max-width: 540px;
        text-align: center;
        line-height: 1.5;
        letter-spacing: 0.8px;

        .link-arrow {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    }

    .about-cap-link {
        position: absolute;
        left: 56%;
        top: 9%;

        &.left {
            left: 24%;
        }
    }

    @media (min-width: 1600px) and (min-height: 850px) {
        .about-skew-bg {
            &::before {
                transform: rotate(28.6deg);
            }
        }
    }

    @media (min-width: 1920px) {
        .about-body {
            .triangle-wrapper {
                width: 50%;

                .top-triangle {
                    height: 170%;

                    &::before {
                        transform: rotate(25.5deg) scale(2);
                    }
                }

                .bottom-triangle {
                    height: 170%;

                    &::before {
                        transform: rotate(-25.5deg) scale(2);
                    }
                }
            }
        }
    }

    @media (min-width: 1800px) {
        .about-body {
            .about-cap-image {
                left: 23%;
            }
        }
    }

    @media (min-width: 992px) and (max-height: 959px) {
        .about-body {
            .triangle-wrapper {
                .triangle-content {
                    p {
                        + p {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 992px) and (max-width: 1499px) {
        .about-skew-bg {
            height: 80vh;
        }

        .about-cap-link {
            left: 35%;
        }

        .about-body {
            &.left-indent {
                .triangle-wrapper {
                    .triangle-content {
                        left: 25%;
                    }
                }
            }

            .triangle-wrapper {
                // width: 740px;

                .triangle-content {
                    p {
                        + p {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 992px) and (max-width: 1300px) {
        .about-skew-bg {
            height: 70vh;
        }
    }

    @media (width: 1024px) and (height: 768px) {
        .about-skew-bg {
            height: 65vh;
        }
    }

    @media (max-width: 1600px) {
        .about-us {
            right: 10%;
        }
    }

    @include breakpoint(large) {
        &.left-indent {
            padding-left: 125px;

            .triangle-wrapper {
                bottom: 95%;
            }
        }

        .about-skew-bg {
            &::before {
                // transform: rotate(28.6deg);
           
            }
        }

        .about-us {
            right: 10%;
            max-width: 400px;
        }
    }


    @media (min-width: 992px) and (max-width: 1199px) {
        .about-us {
            right: 2%;
        }
    }

    @include breakpoint(large) {
        .about-body {
            .triangle-wrapper {
                .triangle-content {
                    .triangle-title {
                        font-size: 25px;
                    }
                }

                .triangle-content-text {
                    max-width: 270px;
                    max-height: 365px;
                    padding-right: 8px;
                    overflow: auto;
                }
            }
        }
    }


    @include breakpoint(medium) {
        .about-skew-bg {
            clip-path: none;

            &::before {
                display: block;
                transform: rotate(28.6deg);
            }
        }

        .about-title {
            left: auto;
            right: 15%;
            font-size: 40px;

            &::after {
                width: 104px;
                height: 46px;
            }
        }
    }


    @include breakpoint(small) {
        padding-bottom: 45px;

        &.left-indent {
            padding-left: 0;
        }

        .about-skew-bg {
            height: auto;
            padding-top: 72%;

            &::before {
                display: none;
            }
        }

        .about-us {
            position: static;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        .about-title {
            right: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            max-width: 100%;
        }

        .about-body {
            .cap-bg {
                position: static;
                padding-top: 72%;
            }

            .triangle-wrapper {
                position: static;
                width: auto;
                height: auto;
                transform: none;
                background-color: #fff;

                .top-triangle,
                .bottom-triangle {
                    display: none;
                }

                .triangle-content-text {
                    max-width: 100%;
                    max-height: 100%;
                    overflow: visible;
                }

                .triangle-content {
                    position: static;
                    transform: none;
                    max-width: 700px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    padding-left: 10px;
                    padding-right: 10px;

                    .triangle-title {
                        max-width: 100%;
                    }
                }
            }

            .about-cap-link {
                display: none;
                position: relative;
                top: 0;
                left: 50%;
                padding: 0;
                margin-top: 10px;
                transform: translateX(-50%);

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }


    @include breakpoint(extra-small) {
        .about-title {
            font-size: 30px;

            &::after {
                display: none;
                width: 74px;
                height: 31px;
            }
        }

        .about-us {
            padding: 0 15px;
        }
    }
}