.accommodation-container {
    margin-top: 30px;

    .accommodation-slider-wrapper {
        position: relative;

        //max-width: 655px;
        margin-left: auto;
        margin-right: auto;
    }

    .accommodation-slider {
        max-width: 805px;
        max-width: 49.5%;
        padding: 0 75px;
        margin: 0 -75px;
        margin: auto;

        .accommodation-slide-inner {
            position: relative;
            padding-top: 48.5%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            .accommodation-slide-title {
                position: absolute;
                left: 20px;
                top: 10px;
                padding-bottom: 7px;
                letter-spacing: 3.4px;
                text-align: left;
                color: #fff;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 23px;
                    height: 2px;
                    background-color: $yellow;
                }
            }
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            width: 27px;
            height: 49px;
            z-index: 5;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
        }

        .slick-prev {
            left: 0;
            background-image: url("../images/ui/arrow-prev.png");
        }

        .slick-next {
            right: 0;
            background-image: url("../images/ui/arrow-next.png");
        }
    }

    .accomodation-info {
        max-width: 655px;
        max-width: 49.5%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        padding: 0 75px;
        font-family: $myriad-reg;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.35px;
        text-align: left;
        color: #fff;

        .accomodation-info-text {
            //max-height: 110px;
            overflow: auto;
            padding-right: 8px;
        }

        p {
            + p {
                margin-top: 15px;
            }
        }

        .button-secondary-wrapper {
            margin-top: 18px;
        }
    }

    .accommodation-review {
        position: absolute;
        right: -10px;
        top: 54%;
        transform: translateY(-50%);
        max-width: 375px;

        &::before,
        &::after {
            position: absolute;

            // opacity: 0.08;
            width: 110px;
            height: 92px;
            font-family: $f-bold;
            font-size: 265px;
            color: $darken;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        &::before {
            // content: "\201c";
            content: "";
            background-image: url("../images/ui/quote-open.png");
            left: -25px;
            top: -65%;
        }

        &::after {
            // content: "\201d";
            content: "";
            background-image: url("../images/ui/quote-close.png");
            right: 0;
            bottom: -50%;
        }

        .accommodation-review-person {
            max-width: 120px;
            display: inline-block;
            vertical-align: middle;

            .accommodation-review-img {
                width: 120px;
                height: 120px;
                margin: auto;
                overflow: hidden;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .accommodation-review-name {
                margin-top: 14px;
                font-family: $raleway-sbold;
                font-size: 14px;
                letter-spacing: 1px;
                color: #666;
            }
        }

        .accommodation-review-text {
            display: inline-block;
            vertical-align: middle;
            max-width: 210px;

            // max-height: 81px;
            // overflow: hidden;
            margin-left: 25px;
            margin-top: -10px;
            font-family: $raleway-italic;
            font-size: 16px;
            text-align: left;
            line-height: 1.7;
            letter-spacing: 1px;
            color: #666;
        }

        @media (max-width: 1639px) {
            &::before,
            &::after {
                width: 55px;
                height: 45px;
            }

            &::before {
                top: -35px;
                left: 0;
            }

            &::after {
                bottom: -35px;
            }

            .accommodation-review-person {
                .accommodation-review-img {
                    width: 100px;
                    height: 100px;
                }
            }

            .accommodation-review-text {
                display: block;
                margin-left: 0;
                margin-top: 10px;
                text-align: center;
                font-size: 14px;
            }
        }
    }

    @include breakpoint(large) {
        .accommodation-slider {
            .accommodation-slide-inner {
                .accommodation-slide-title {
                    font-size: 25px;
                }
            }
        }
    }


    @media (min-width: 992px) and (max-width: 1400px) and (max-height: 800px) {
        .accommodation-slider {
            max-width: 55%;
        }
    }

    @include breakpoint(small) {
        .accommodation-slider {
            max-width: 100%;
            padding: 0 30px;
            margin: auto;

            .slick-prev {
                left: -5px;
            }

            .slick-next {
                right: -5px;
            }
        }

        .accommodation-review {
            position: static;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            transform: translateY(0);

            .accommodation-review-text {
                margin: auto;
            }
        }

        .accomodation-info {
            max-width: 100%;
            margin-top: 30px;
            padding: 0 30px;

            .accomodation-info-text {
                max-height: 100%;
            }

            .button-secondary-wrapper {
                margin-top: 30px;
            }
        }
    }


    @include breakpoint(extra-small) {
        .accomodation-info {
            padding: 0;
        }
    }
}