.book-form-wrapper {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    padding-right: 5px;
    padding-left: 5px;

    .form-row {
        display: flex;
        margin-left: -8px;
        margin-right: -8px;
        padding-bottom: 82px;

        &:nth-child(3) {
            padding-bottom: 50px;
        }
    }

    .row-pseudo-elemets {
        padding-bottom: 56px;
    }

    .form-item {
        width: 50%;
        padding-right: 8px;
        padding-left: 8px;

        input,
        textarea {
            width: 100%;
        }
    }

    .form-item-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $yellow;
        margin: 0 5px;
        text-align: right;
        height: 24px;

        input {
            width: auto;
            min-width: 185px;
            border-bottom: none;

            // text-align: right;
       
        }

        &.error {
            border-bottom: 2px solid #ff0000;
        }
    }

    .form-item-textarea {
        width: 100%;
        padding-right: 8px;
        padding-left: 8px;
        text-align: left;

        label {
            display: inline-block;
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        textarea {
            width: 100%;
            height: 150px;
        }
    }

    .button-row {
        position: relative;
        margin-top: 25px;
        text-align: right;

        .button-back {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .button {
        padding: 8px 35px;
        font-family: $f-bold;
        font-size: 20px;
        color: $darken;
    }

    .form-steps {
        margin-bottom: 57px;

        .form-steps-list {
            display: flex;
            justify-content: space-between;
            font-family: $f-bold;
            font-size: 16px;

            li,
            .step-title,
            .step-count,
            .step-count::before {
                transition-duration: .3s;
                transition-property: all;
            }

            .step-count {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 30px;
                margin-bottom: 6px;
                border-radius: 50%;
                border: 2px solid $yellow;
                line-height: 25px;
                color: $blue-dark;

                &::before {
                    content: "\f00c";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    font-family: "FontAwesome";
                    color: $blue-dark;
                    opacity: 0;
                }
            }

            .step-title {
                display: block;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            &.step1-active {
                li:nth-child(n+2) {
                    // opacity: 0.3;
               
                }
            }

            &.step2-active {
                li:nth-child(-n+1) {
                    .step-title {
                        opacity: .3;
                    }

                    .step-count {
                        color: transparent;

                        &::before {
                            opacity: 1;
                        }
                    }
                }

                li:nth-child(n+3) {
                    opacity: 0.3;
                }
            }

            &.step3-active {
                li:nth-child(-n+2) {
                    .step-title {
                        opacity: .3;
                    }

                    .step-count {
                        color: transparent;

                        &::before {
                            opacity: 1;
                        }
                    }
                }

                li:nth-child(n+4) {
                    opacity: 0.3;
                }
            }

            &.step4-active {
                li:nth-child(-n+3) {
                    .step-title {
                        opacity: .3;
                    }

                    .step-count {
                        color: transparent;

                        &::before {
                            opacity: 1;
                        }
                    }
                }

                li:nth-child(n+5) {
                    opacity: 0.3;
                }
            }

            &.step5-active {
                display: none;
            }
        }
    }

    .ms-options-wrap {
        .ms-options {
            background-color: #fff;
            text-align: left;

            input {
                max-width: 100%;
                min-width: auto;
            }
        }
    }

    @media (max-width: 1400px) {
        .form-steps {
            margin-bottom: 30px;
        }
    }

    @include breakpoint(medium) {
        max-width: 80%;
        margin-left: 150px;

        .form-item-label {
            input {
                min-width: 60%;
            }
        }
    }


    @media (max-width: 1700px) and (max-height: 800px) {
        max-width: 850px;
    }

    @include breakpoint(small) {
        max-width: 100%;
        margin-top: 30px;
        margin-left: auto;

        .form-item-label {
            font-size: 12px;
        }

        .form-steps {
            .form-steps-list {
                .step-title {
                    font-size: 12px;
                }
            }
        }

        select {
            text-align-last: right;
        }
    }


    @include breakpoint(extra-small) {
        .book-form-wrapper {
            max-width: 100%;
        }

        .form-item-label {
            input {
                min-width: 160px;
            }
        }
    }


    @include breakpoint(small-tablet-portrait) {
        .form-row {
            flex-wrap: wrap;
            padding-bottom: 30px;
        }

        .row-pseudo-elemets {
            .form-item:not(:first-child) {
                display: none;
            }
        }

        .form-item {
            width: 100%;

            + .form-item {
                margin-top: 30px;
            }
        }

        .button-row {
            text-align: center;
        }
    }
}