.booking-form {
    .button {
        color: #fff;
    }

    table {
        width: 100%;
        margin: auto;
    }

    label {
        display: inline-block;
        text-transform: uppercase;
    }

    .form-col {
        width: 50%;
        float: left;
        padding: 0 15px;
    }

    .booking-form-item {
        width: 250px;
    }

    .form-row {
        justify-content: space-between;
        align-items: baseline;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;

        &:nth-child(3) {
            padding-bottom: 0;
        }

        + .form-row {
            margin-top: 15px;
        }
    }

    input {
        color: #fff;
    }

    .form-item-textarea {
        label {
            opacity: .7;
        }

        textarea {
            height: 78px;
        }
    }

    .succses-message {
        max-width: 345px;
        margin: auto;
        padding-top: 27px;
        padding-bottom: 25px;
        padding-left: 19px;
        padding-right: 10px;
        border-top: 2px solid $yellow;
        border-bottom: 2px solid $yellow;
        text-transform: uppercase;
        color: $darken;
        text-align: left;
        letter-spacing: 1.2px;
        line-height: 1.5;
    }

    .button-back {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        font-family: $f-bold;
        font-size: 20px;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        color: $darken;

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 0;
            border-style: solid;
            border-width: 6.5px 11px 6.5px 0;
            border-color: transparent $darken transparent transparent;
            transform: translateY(-50%);
        }
    }

    .done-btn {
        display: none;
    }

    .step {
        display: none;
    }

    &.step1-active {
        .step1 {
            display: block;
        }

        .button-row {
            .button-back {
                display: none;
            }
        }
    }

    &.step2-active {
        .step2 {
            display: block;
        }
    }

    &.step3-active {
        .step3 {
            display: block;
        }
    }

    &.step4-active {
        .step4 {
            display: block;
        }
    }

    &.step5-active {
        .button-row {
            margin-top: 20px;
            text-align: center;
        }

        .done-btn {
            display: inline-block;
        }

        .next-btn,
        .button-back {
            display: none;
        }

        .step5 {
            display: block;
        }
    }

    @media (max-width: 1700px) and (max-height: 800px) {
        // max-height: 45vh;
        // overflow: auto;

        table {
            width: 100%;
        }
    }

    @include breakpoint(medium) {}


    @include breakpoint(small) {
        table {
            // display: block;
       
        }

        max-height: 100%;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
        padding: 15px 10px;
        border: 2px solid $yellow;
        background-color: rgba(255, 255, 255, 0.3);

        .booking-form-item,
        .ms-options-wrap {
            width: 220px;
        }

        .button-row {
            text-align: center;
        }

        .form-col {
            width: auto;
            float: none;
            display: block;
            padding: 0;

            + .form-col {
                margin-top: 15px;
            }
        }

        .succses-message {
            max-width: 90%;
        }
    }


    @include breakpoint(extra-small) {
        .form-row {
            flex-wrap: wrap;

            // padding-bottom: 20px;
       
        }

        .form-item {
            width: 100%;

            + .form-item {
                margin-top: 20px;
            }
        }
    }


    @include breakpoint(mobile-landscape) {
        padding: 15px 0;

        .form-row {
            flex-direction: column;
            align-items: center;

            + .form-row {
                margin-top: 15px;
            }
        }

        .ms-options-wrap {
            button {
                padding-right: 0;
                text-align: center;
            }
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding-right: 0;
            text-align: center;
        }

        .booking-form-item {
            width: 220px;
        }
    }


    @include breakpoint(mobile) {
        .form-item-label {
            flex-direction: column;
            height: auto;
            padding-bottom: 5px;

            label + * {
                margin-top: 15px;
            }
        }

        .input-date {
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .button-row {
            margin-top: 20px;

            .button-back {
                position: static;
                padding-left: 0;

                &::before {
                    left: -15px;
                }
            }

            .next-btn {
                width: 100%;
            }
        }

        select {
            text-align-last: center;
        }
    }
}