.button-secondary-wrapper {
    text-align: center;

    .button-secondary + .button-secondary {
        position: relative;
        margin-left: 45px;

        &::before {
            //content: "";
            position: absolute;
            left: -55px;
            top: 50%;
            transform: translateY(-0%) rotate(-60deg);
            width: 55%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.7);
            transition: .3s all;
        }
    }
}