.customer-menu {
    color: #fff;
    transition-duration: .3s;
    transition-property: all;

    .customer-icon {
        display: inline-block;

        + .customer-icon {
            margin-left: 13px;
        }
    }

    @include breakpoint(small) {
        .customer-icon + .customer-icon {
            margin-left: 25px;
        }
    }
}