.fleet-index {
    min-height: 100vh;

    .fleet-header {
        position: absolute;
        top: 100px;
        left: 50%;
        margin-left: -50px;
        max-width: 120px;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: -30px;
            width: 42px;
            height: 9px;
            margin-left: -21px;
            background-image: url(../images/ui/menu-active.png);
        }
    }

    .active-fleet {
        z-index: 2;
    }

    .fleet-heading {
        z-index: 10;
        position: absolute;
        top: 190px;
        font-family: $sans-light;
        text-transform: uppercase;

        &.fleet-heading-white {
            color: #fff;
        }

        h2 {
            font-family: $sans-light;
            font-size: 56px;
            margin-bottom: 25px;
            font-weight: 400;
        }

        a {
            font-size: 30px;
        }

        &.fleet-heading-left {
            left: 25px;

            img {
                margin-right: 10px;
            }
        }

        &.fleet-heading-right {
            text-align: right;
            right: 25px;

            img {
                margin-left: 10px;
            }
        }
    }

    .fleet-item {
        position: absolute;
        height: 100%;
        overflow: hidden;

        &.fleet-left {
            z-index: 2;
        }
    }

    .fleet-right {
        right: -25%;
        left: 50%;
        transform: skew(-30deg);
        transition-property: left;
        transition-duration: 1200ms;

        // transition-duration: 400ms;

        .fleet-item-wrapper {
            transform: skew(30deg);
        }

        .image-container {
            margin-left: -35%;
        }

        &.active-fleet {
            // left: 45%;
       
        }
    }

    .fleet-left {
        left: -25%;
        right: 50%;
        transform: skew(30deg);
        transition-property: right;
        transition-duration: 1200ms;

        &.active-fleet {
            // right: 45%;
       
        }

        .fleet-item-wrapper {
            transform: skew(-30deg);

            .image-container {
                margin-right: -35%;
            }
        }
    }

    .fleet-item-wrapper {
        height: 100%;
        width: 100%;
    }

    .image-container {
        // transform: skew(20deg);
        width: auto;
        height: 100%;
    }

    @media (max-width: 1600px) {
        .fleet-heading {
            top: 300px;

            h2 {
                font-size: 40px;
            }
        }
    }

    @include breakpoint(medium) {
        .fleet-heading {
            h2 {
                max-width: 370px;
                font-size: 35px;
            }
        }

        @media (orientation: portrait) {
            // display: none;

            .logo-single {
                display: none;
            }

            .fleet-right {
                top: 60%;
                height: 30%;
                left: 0;
                right: 0;
                transform: skewY(10deg);

                .fleet-item-wrapper {
                    transform: skewY(-10deg);
                    margin-top: -10%;
                    height: 200%;
                }
            }

            .fleet-heading {
                &.fleet-heading-right {
                    top: 70%;
                }

                &.fleet-heading-left {
                    top: 33%;
                }
            }

            .fleet-left {
                top: 25%;
                height: 30%;
                left: 0;
                right: 0;
                transform: skewY(10deg);

                .fleet-item-wrapper {
                    transform: skewY(-10deg);
                    margin-top: -10%;
                    height: 200%;
                }
            }
        }
    }


    @media (min-height: 1000px) and (min-width: 992px) and (max-width: 1400px) {
        .fleet-right {
            right: -30%;
        }

        .fleet-left {
            left: -30%;
        }
    }

    @include breakpoint(small) {
        .fleet-heading {
            h2 {
                max-width: 100%;
                font-size: 35px;
            }
        }

        @media (orientation: landscape) {
            .fleet-right {
                right: -30%;
            }

            .fleet-left {
                left: -30%;
            }

            .logo-single {
                display: none;
            }

            .fleet-header {
                top: 50px;
                max-width: 60px;
                margin-left: -30px;

                &::before {
                    top: -20px;
                }
            }

            .fleet-heading {
                top: 45%;

                h2 {
                    font-size: 20px;
                    margin-bottom: 15px;
                }

                a {
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                }

                &.fleet-heading-left {
                    left: 15px;
                }

                &.fleet-heading-right {
                    right: 15px;

                    a {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }


    @include breakpoint(mobile) {
        @media (orientation: portrait) {
            .fleet-header {
                top: 50px;

                &::before {
                    top: -20px;
                }
            }

            .fleet-heading {
                h2 {
                    font-size: 25px;
                    margin-bottom: 15px;
                }

                a {
                    font-size: 20px;
                    display: flex;
                    align-items: middle;
                }

                &.fleet-heading-left {
                    left: 15px;
                }

                &.fleet-heading-right {
                    right: 15px;

                    a {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

// =================== 1
// .fleet-index {
//     .image-container {
//         transition-property: opacity;
//         transition-duration: 400ms;
//     }
// }

// &.active-fleet-right {
//     .fleet-right {
//         .image-container {
//             opacity: 0.8;
//             background-color: #fff;
//         }
//     }

//     .fleet-left {
//         .image-container {
//             opacity: 0.8;
//             background-color: red;
//         }
//     }
// }

// =================== 2

.fleet-index {
    .fleet-right {
        transition-property: background-color;
        transition-duration: 800ms;

        // background-color: #fff;

        .image-container {
            transition-property: opacity, transform;
            transition-duration: 800ms;
            transform: scale(1.05);
        }
    }

    .fleet-left {
        transition-property: background-color;
        transition-duration: 800ms;

        // background-color: #000;

        .image-container {
            transition-property: opacity, transform;
            transition-duration: 800ms;
            transform: scale(1.05);
        }
    }
}

&.active-fleet-right {
    .fleet-index {
        .fleet-right {
            background-color: #fff;

            .image-container {
                opacity: 0.5;
                transform: scale(1.1);
            }
        }

        .fleet-left {
            background-color: #000;

            .image-container {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

&.active-fleet-left {
    .fleet-index {
        .fleet-right {
            background-color: #000;

            .image-container {
                opacity: .6;
                transform: scale(1);
            }
        }

        .fleet-left {
            background-color: #fff;

            .image-container {
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }
}