.fleet {
    padding-top: 60px;
    background-color: #f7f7f7;
    font-family: $sans-light;

    .logo-link {
        position: absolute;
        left: 35px;
        bottom: 15px;
        display: inline-block;
        z-index: 100;

        // margin-top: 15px;
        // margin-bottom: 20px;
   
    }

    .logo-mini {}

    @include breakpoint(small) {
        padding-top: 40px;
        padding-bottom: 45px;

        .logo-link {
            position: static;
        }

        .logo-mini {
            margin: 0;
        }
    }


    .fleet-img {
        position: relative;
        z-index: 1;
    }

    .fleet-title {
        position: absolute;
        bottom: 10%;
        left: 3.5%;
        font-size: 56px;
        letter-spacing: -1.6px;
        text-transform: uppercase;
        color: #fff;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -13%;
            width: 53px;
            height: 92px;
            background-image: url("../images/ui/trapezium.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right center;
            transform: translateY(-50%);
        }

        @include breakpoint(medium) {
            font-size: 35px;

            &::after {
                width: 104px;
                height: 46px;
            }
        }


        @include breakpoint(small) {
            &::after {
                right: -50%;
            }
        }


        @include breakpoint(extra-small) {
            font-size: 25px;

            &::after {
                width: 74px;
                height: 31px;
            }
        }
    }

    .fleet-link {
        position: absolute;
        bottom: -43px;
        left: 51%;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: -1px;
        color: #000;
        transform: translateX(-50%);

        @include breakpoint(large) {
            left: 54%;
            font-size: 25px;
        }


        @include breakpoint(small) {
            font-size: 20px;
        }


        @include breakpoint(extra-small) {
            left: 50%;
        }
    }

    .fleet-img-left,
    .fleet-img-right {
        position: relative;
        height: 75vh;

        @include breakpoint(large) {
            height: 72vh;
        }


        @include breakpoint(small) {
            height: 65vh;
        }


        @include breakpoint(extra-small) {
            height: 0;
        }
    }

    .fleet-img-left {
        top: 45px;
        width: 66%;
        float: left;
        z-index: 12;
        transform: translateZ(0);

        @include breakpoint(extra-small) {
            top: 22px;
            width: 95%;
            float: none;
            padding-top: 68%;
        }
    }

    .fleet-img-right {
        float: right;
        width: 49%;
        margin-left: -15%;
        z-index: 1;

        .triangle {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &::before {
                z-index: 0;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 300%;
                height: 50%;
                background-color: #f7f7f7;
                transition: .5s all;
                transform-origin: top left;
                transform: rotate(68.5deg) translateZ(0);

                @media (max-height: 880px) {
                    transform: rotate(63deg) translateZ(0);
                }

                @include breakpoint(large) {
                    transform: rotate(66deg) translateZ(0);
                }


                @media (min-width: 1850px) {
                    transform: rotate(63deg) translateZ(0);
                }

                @include breakpoint(small) {
                    transform: rotate(70deg) translateZ(0);
                }
            }
        }

        .ui-wave {
            position: absolute;
            top: 32px;
            right: 20px;
        }

        @include breakpoint(extra-small) {
            width: 95%;
            float: none;
            margin-left: auto;
            padding-top: 90%;
        }
    }
}