.footer-main {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-top: 35px;
    padding-left: 38px;
    padding-right: 25px;
    padding-bottom: 35px;
    background-color: $darken;
    font-size: 14.25px;
    color: #fff;

    //transform: translateY(-100%);

    z-index: 11;

    .logo {
        position: absolute;
        left: 38px;
        top: 36px;
        display: inline-flex;
        align-items: center;
        transform: none;

        .logo-title-wrapper {
            margin-left: 10px;
            margin-top: 10px;
        }

        .logo-title {
            font-size: 21px;
            letter-spacing: 3.5px;
        }

        .logo-subtitle {
            margin: 0;
        }
    }

    .footer-info {
        margin-bottom: -25px;
        padding-top: 25px;
        text-align: center;
        letter-spacing: 1px;

        p, a {
            letter-spacing: 0.6px;
        }

        p {
            line-height: 1.3;
        }

        .footer-copyright {
            margin-top: 20px;
            letter-spacing: -0.1px;
            color: rgba(#fff, 0.3);
        }
    }

    .social-icons {
        display: none;
        position: static;
    }

    @include breakpoint(small) {
        position: static;
        flex-wrap: wrap;
        height: auto;
        padding: 40px 25px;
        transform: none;
        text-align: center;

        .logo,
        .footer-info {
            flex: none;
            width: 100%;
        }

        .logo {
            position: static;
            justify-content: center;
            margin-bottom: 30px;
            width: auto;
        }

        .footer-info {
            order: 2;
            margin-bottom: 0;
            padding-top: 0;
        }

        .social-icons {
            display: inline-block;
            margin-top: 15px;
        }
    }
}