.getting-there-container {
    padding-top: 10px;

    @include breakpoint(small) {
        padding-top: 30px;
    }
}

.getting-there {
    max-width: 545px;
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
    border: 7px solid $yellow;

    .getting-there-title {
        margin-bottom: 53px;
        font-family: $f-bold;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $darken;
    }

    .getting-divider {
        height: 3px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .getting-there-wrapper {
        padding-top: 24px;
        padding-bottom: 28px;
        padding-left: 70px;
        padding-right: 70px;
        background-image: url("../images/bg/getting-there.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .icon + .icon {
            margin-left: 35px;
        }
    }

    .getting-content {
        margin-top: 18px;
        padding-top: 115px;
        padding-bottom: 47px;
        border-top: 3px solid rgba(0, 0, 0, 0.2);
        border-bottom: 3px solid rgba(0, 0, 0, 0.2);
        font-size: 14px;

        .getting-content-title {
            position: relative;
            display: inline-block;
            margin-bottom: 29px;
            padding-bottom: 20px;
            font-family: $sans-bold;
            font-size: 42px;
            color: $gray-dark;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 23px;
                height: 2px;
                background-color: $yellow;
            }
        }

        p {
            // max-height: 66px;
            // overflow: hidden;
            font-family: $myriad-reg;
            line-height: 1.6;
            color: rgba($gray-light, 0.65);
        }

        .button-secondary {
            margin-top: 27px;
        }
    }

    @media (min-width: 992px) and (max-width: 1500px) {
        // .getting-content {
        //     .getting-content-title {
        //         font-size: 30px;
        //     }
        // }
    }

    @media (min-width: 992px) and (max-height: 940px) {
        // padding-top: 40px;
        // padding-bottom: 30px;

        .getting-there-title {
            margin-bottom: 27px;
            font-size: 33px;
        }

        .getting-content {
            padding-top: 20px;
            padding-bottom: 20px;

            .getting-content-title {
                margin-bottom: 20px;
                padding-bottom: 20px;
                font-size: 30px;
            }
        }
    }

    @include breakpoint(small) {
        padding: 9px;

        .getting-there-title {
            margin-bottom: 53px;
        }

        .getting-content {
            padding-top: 50px;
        }
    }


    @include breakpoint(extra-small) {
        .getting-there-title {
            font-size: 25px;
            margin-bottom: 25px;
        }

        .getting-content {
            .getting-content-title {
                font-size: 28px;
            }
        }

        .getting-there-wrapper {
            padding-left: 15px;
            padding-right: 15px;
        }
    }


    @include breakpoint(small-tablet-portrait) {
        padding: 6px;
        border: 4px solid $yellow;

        .getting-content {
            padding-top: 25px;
            padding-bottom: 25px;

            .getting-content-title {
                margin-bottom: 10px;
            }

            .button-secondary {
                margin-top: 13px;
            }
        }

        .getting-there-wrapper {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}