.highlight-photos-wrapper {
    padding-top: 40px;

    .highlight-photos-first-photo {
        max-width: 750px;
        margin: 0 auto;
        width: 60%;
        height: 52vh;
        background-position: 50% 50%;
        background-size: cover;
    }

    .highlight-photos-second-photo {
        position: absolute;
        right: 0;
        top: 0;
        height: 39vh;
        width: 35.5%;
        background-position: 50% 50%;
        background-size: cover;
    }

    .highlight-photos-text {
        position: absolute;
        right: 10px;
        top: 70%;

        // margin-right: 20px;
        width: 24%;
        text-align: right;

        h2 {
            font-size: 35px;
            color: $darken;
            line-height: 1.2;
            letter-spacing: 2px;

            & + p {
                letter-spacing: 1px;
            }
        }
    }

    @media (min-width: 2000px) {
        .highlight-photos-first-photo {
            max-width: 1000px;
        }
    }

    @media (min-width: 992px) and (max-width: 1500px) {
        .highlight-photos-text {
            width: 20%;
            padding-left: 10px;

            h2 {
                font-size: 25px;
            }
        }

        .highlight-photos-first-photo {
            max-width: 45%;
        }
    }

    @include breakpoint(large) {
        // padding-top: 55px;
    }


    @media (min-width: 1501px) and (min-height: 700px) and (max-height: 949px) {
        // padding-top: 85px;
    }

    @include breakpoint(medium) {
        .highlight-photos-first-photo {
            height: 45vh;
        }

        .highlight-photos-second-photo {
            top: 11%;
            width: 32.5%;
            height: 30vh;
        }
    }


    @include breakpoint(small) {
        position: relative;
        width: 90%;
        margin: auto;

        .highlight-photos-text {
            position: static;
            width: auto;
            margin-right: 0;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .highlight-photos-first-photo {
            height: 0;
            padding-top: 66%;
            max-width: 100%;
            width: auto;
        }

        .highlight-photos-second-photo {
            position: static;
            height: 0;
            padding-top: 67%;
            width: 100%;
        }
    }
}

.highlight-title {
    @media (min-width: 1600px) {
        padding-top: 70px;
    }

    @include breakpoint(large) {
        padding-top: 35px;
    }


    @media (max-width: 1400px) {
        padding-top: 15px;
    }
}