.home-single {
    position: relative;
    height: 100%;
    padding-top: 60px;

    &.contact {
        display: flex;
        flex-direction: column;
        min-height: 100%;

        .contact-container {
            // flex: 1;
            padding-top: 0;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 0;

            .contact-list::after {
                background-image: url("../images/ui/orange-wave.png");
            }

            .button {
                color: #fff;
            }
        }
    }

    .logo-mini {
        position: absolute;
        left: 38px;
        bottom: 28px;
    }

    .home-title {
        text-align: center;
        max-width: 710px;
        max-width: 710px;
        margin-left: auto;
        margin-right: auto;
        font-family: $myriad-reg;
        font-size: 14px;
        letter-spacing: 0.3px;
        color: #fff;

        h2 {
            font-size: 35px;
            text-transform: uppercase;
        }

        .home-sub-title {
            margin-top: 10px;
            line-height: 1.75;
        }
    }

    .slider {
        max-width: 80.5%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        .slider-wrapper {
            .slick-slide {
                img {
                    margin-top: 20px;
                }
            }
        }
    }

    @media (min-width: 1600px) and (min-height: 950px) {
        padding-top: 162px;

        &.contact {
            padding-top: 133px;
        }
    }

    @include breakpoint(large) {
        padding-top: 30px;

        &.contact {
            padding-top: 40px;
        }

        .logo-mini {
            bottom: 15px;
        }

        .slider {
            max-width: 77.5%;

            .slider-wrapper {
                padding-left: 40px;
                padding-right: 40px;
                margin-left: -40px;
                margin-right: -40px;

                .slick-slide {
                    img {
                        margin-top: 0;
                    }
                }
            }
        }
    }


    @include breakpoint(medium) {
        .slider {
            max-width: 70%;
        }

        .book-form-wrapper {
            margin-left: auto;
        }
    }


    @media (min-width: 992px) and (max-width: 1280px) {
        .slider {
            .slider-wrapper {
                padding-bottom: 15px;
            }
        }
    }

    @include breakpoint(small) {
        padding-top: 28px;

        .home-body {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 153px;
        }

        .home-title {
            padding: 0 15px;
        }

        .logo-mini {
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
        }

        .slider {
            max-width: 85%;
        }
    }


    @include breakpoint(mobile-landscape) {
        &.contact {
            .contact-container {
                max-width: 90%;
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}