.including-section {
    margin-top: 20px;

    .including-row {
        display: flex;

        .including-cell {
            margin-left: 80px;
        }

        .including-icon + .including-cell {
            margin-left: 0;
        }
    }

    .including-row + .including-row {
        .including-cell {
            border-top: 0;
        }
    }

    .including-icon {
        flex-basis: 80px;
        flex-shrink: 0;
        border-top: 2px solid rgba(#fff, 0.3);
        border-left: 2px solid rgba(#fff, 0.3);
        border-bottom: 2px solid rgba(#fff, 0.3);
        background-image: url("../images/ui/ok-icon.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .including-cell {
        border: 2px solid rgba(#fff, 0.3);
        flex-basis: 100%;
        padding: 20px;
        font-size: 13px;
        text-align: left;
        line-height: 1.3;
    }

    @media (min-width: 992px) and (max-height: 850px) {
        margin-top: 10px;

        .including-cell {
            padding: 10px;
        }

        .including-icon {
            background-size: 30px;
        }
    }
}