.main-nav {
    display: none;
    position: fixed;
    top: 50%;
    z-index: 200;
    max-width: 610px;
    width: 100%;
    left: 0;
    margin-top: 40px;
    padding: 238px 0;
    padding-left: 45px;
    transform: translateY(-50%);

    .close-menu {
        display: none;
        position: absolute;
        right: 100px;
        top: 50%;
        z-index: 50;
        cursor: pointer;
        width: 26px;
        height: 26px;
        transform: translateY(-50%) translateZ(0);
        transition-duration: .3s;
        transition-property: transform;
        transform-origin: 50% 50%;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 100%;
            height: 3px;
            border-radius: 3px;
            background-color: #000;
            transition-duration: .3s;
            transition-property: transform;
        }

        &::before {
            transform: rotate(45deg) translateZ(0);
        }

        &::after {
            transform: rotate(-45deg) translateZ(0);
        }

        &:hover {
            transform: translateY(-50%) translateZ(0) rotate(90deg);
        }
    }

    .top-triangle,
    .bottom-triangle {
        position: absolute;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 50%;
        transition: .3s all;
    }

    .top-triangle {
        top: 1px;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            background-color: #fff;
            transform: rotate(0);
            transform-origin: top left;
            transition: .3s all;
            animation-name: showTopTriangle;
            animation-fill-mode: forwards;
            animation-duration: 2s;
        }
    }

    .bottom-triangle {
        bottom: -2px;
        transform: translateY(-1px);

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            background-color: #fff;
            transform: rotate(-0);
            transform-origin: bottom left;
            animation-name: showBottomTriangle;
            animation-fill-mode: forwards;
            animation-duration: 2s;
        }
    }
}

.main-nav-list {
    position: relative;
    animation-name: fadeIn;
    animation-duration: 2s;
    z-index: 10;
}

.main-nav-list-item {
    position: relative;
    padding-left: 80px;
    font-size: 16.3px;
    font-weight: 500;
    font-family: 'SourceSansPro-Semibold';
    letter-spacing: 1px;
    text-transform: uppercase;
    animation-name: meniList;
    animation-duration: 2s;

    &.active-menu {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 42px;
            height: 9px;
            background-image: url("../images/ui/menu-active.png");
            background-repeat: no-repeat;
            background-position: center center;
            transform: translateY(-50%);
        }
    }

    + .main-nav-list-item {
        margin-top: 37px;
    }
}

@include breakpoint(small) {
    .main-nav {
        top: 50%;
        margin-top: 0;
    }

    .main-nav-list-item {
        + .main-nav-list-item {
            margin-top: 30px;
        }
    }
}


@include breakpoint(extra-small) {}


@include breakpoint(small-tablet-portrait) {
    .main-nav {
        .close-menu {
            right: 20px;
        }
    }

    .main-nav-list-item {
        padding-left: 60px;
    }
}


@include breakpoint(mobile) {
    .main-nav {
        padding: 125px 0;
        padding-left: 15px;
    }
}


@keyframes showTopTriangle {
    from {
        transform: rotate(30deg) translateX(-100%);
        width: 0;
    }

    to {
        transform: rotate(30deg) translateX(0%);
        width: 150%;
    }
}

@keyframes showBottomTriangle {
    from {
        transform: rotate(-30deg) translateX(-100%);
        width: 0;
    }

    to {
        transform: rotate(-30deg) translateX(0%);
        width: 150%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes meniList {
    from {
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
    }
}