.main-header {
    position: fixed;
    width: 100%;
    top: 25px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 0 38px;

    .menu-toggle {
        position: relative;
        width: 19px;
        height: 14px;
        cursor: pointer;
        overflow: hidden;

        span {
            position: absolute;
            display: inline-block;
            height: 2px;
            width: 100%;
            background-color: #fff;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
                left: 50%;
                width: 70%;
                transform: translate(-50%, -50%);
            }

            &:nth-child(3) {
                bottom: 0;
            }
        }

        &:hover {
            span {
                animation-duration: 1.4s;

                &:nth-child(1) {
                    -webkit-animation-name: lineAnimationIn, lineAnimationOut;
                    animation-name: lineAnimationIn, lineAnimationOut;
                    -webkit-animation-fill-mode: forwards, forwards;
                    animation-fill-mode: forwards, forwards;
                    -webkit-animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
                    animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
                    -webkit-animation-duration: 0.3s, 0.3s;
                    animation-duration: 0.3s, 0.3s;
                    -webkit-animation-delay: 0s, 0.3s;
                    animation-delay: 0s, 0.3s;
                }

                &:nth-child(2) {
                    -webkit-animation-name: lineAnimationIn, lineAnimationOutMiddle;
                    animation-name: lineAnimationIn, lineAnimationOutMiddle;
                    -webkit-animation-fill-mode: forwards, forwards;
                    animation-fill-mode: forwards, forwards;
                    -webkit-animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
                    animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
                    -webkit-animation-duration: 0.2s, 0.2s;
                    animation-duration: 0.2s, 0.2s;
                    -webkit-animation-delay: 0.1s, 0.4s;
                    animation-delay: 0.1s, 0.4s;
                }

                &:nth-child(3) {
                    -webkit-animation-name: lineAnimationIn, lineAnimationOut;
                    animation-name: lineAnimationIn, lineAnimationOut;
                    -webkit-animation-fill-mode: forwards, forwards;
                    animation-fill-mode: forwards, forwards;
                    -webkit-animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
                    animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
                    -webkit-animation-duration: 0.1s, 0.1s;
                    animation-duration: 0.1s, 0.1s;
                    -webkit-animation-delay: 0.2s, 0.5s;
                    animation-delay: 0.2s, 0.5s;
                }
            }
        }
    }

    @include breakpoint(small) {
        top: 0;
        padding: 20px;
        background-color: rgba(107, 114, 132, 0.71);
    }
}

@keyframes menuAnim {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

@keyframes menuAnimMiddle {
    0% {
        left: 50%;
    }

    50% {
        left: 150%;
    }

    100% {
        left: 50%;
    }
}

///

.desktopApp .component.menuButton.close:hover .line:nth-child(1) {
    -webkit-animation-name: lineAnimationIn, lineAnimationOut;
    animation-name: lineAnimationIn, lineAnimationOut;
    -webkit-animation-fill-mode: forwards, forwards;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
    animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
    -webkit-animation-duration: 0.3s, 0.3s;
    animation-duration: 0.3s, 0.3s;
    -webkit-animation-delay: 0s, 0.3s;
    animation-delay: 0s, 0.3s;
}

.desktopApp .component.menuButton.close:hover .line:nth-child(2) {
    -webkit-animation-name: lineAnimationIn, lineAnimationOut;
    animation-name: lineAnimationIn, lineAnimationOut;
    -webkit-animation-fill-mode: forwards, forwards;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
    animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
    -webkit-animation-duration: 0.2s, 0.2s;
    animation-duration: 0.2s, 0.2s;
    -webkit-animation-delay: 0.1s, 0.4s;
    animation-delay: 0.1s, 0.4s;
}

.desktopApp .component.menuButton.close:hover .line:nth-child(3) {
    -webkit-animation-name: lineAnimationIn, lineAnimationOut;
    animation-name: lineAnimationIn, lineAnimationOut;
    -webkit-animation-fill-mode: forwards, forwards;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
    animation-timing-function: cubic-bezier(0.59, 0.085, 0.29, 0.925), cubic-bezier(0.59, 0.085, 0.29, 0.925);
    -webkit-animation-duration: 0.1s, 0.1s;
    animation-duration: 0.1s, 0.1s;
    -webkit-animation-delay: 0.2s, 0.5s;
    animation-delay: 0.2s, 0.5s;
}

@-webkit-keyframes lineAnimationIn {
    0% {
        right: 0;
        left: auto;
        width: 100%;
    }

    100% {
        right: 0;
        left: auto;
        width: 0%;
    }
}

@keyframes lineAnimationIn {
    0% {
        right: 0;
        left: auto;
        width: 100%;
    }

    100% {
        right: 0;
        left: auto;
        width: 0%;
    }
}

@-webkit-keyframes lineAnimationOut {
    0% {
        right: auto;
        left: 0;
        width: 0%;
    }

    100% {
        right: auto;
        left: 0;
        width: 100%;
    }
}

@-webkit-keyframes lineAnimationOutMiddle {
    0% {
        right: auto;
        left: 0;
        width: 0%;
    }

    100% {
        right: auto;
        left: 50%;
        width: 70%;
    }
}

@keyframes lineAnimationOut {
    0% {
        right: auto;
        left: 0;
        width: 0%;
    }

    100% {
        right: auto;
        left: 0;
        width: 100%;
    }
}

@keyframes lineAnimationOutMiddle {
    0% {
        right: auto;
        left: 0;
        width: 0%;
    }

    100% {
        right: auto;
        left: 50%;
        width: 70%;
    }
}