.map-screen {
    .map-screen-ship {
        display: block;
        margin: 0 auto;
    }

    h1 {
        padding-left: 0;
        padding-right: 0;
        font-family: $f-bold;

        &::after {
            width: 410px;
            margin-top: 5px;
        }

        &::before, &::after {
            position: static;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 410px;
            content: "";
            height: 3px;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    .map-wrap {
        width: 410px;
        margin: 0 auto;
        text-align: left;
        border-bottom: 3px solid rgba(255, 255, 255, 0.2);

        .tour-loactions-logo {
            margin-top: 0;
        }

        &.center {
            text-align: center;
        }
    }

    .abailable-tours {
        margin-top: 50px;
    }

    @media (min-width: 1640px) {
        .abailable-tours {
            margin-top: 100px;
        }
    }

    @media (max-width: 1400px) and (max-height: 720px) {
        .abailable-tours {
            margin-top: 50px;
        }

        .map-screen-ship {
            max-width: 150px;
        }

        .tour-loactions-logo {
            max-width: 200px;
        }
    }

    @media (max-width: 1200px) and (max-height: 720px) {
        .abailable-tours {
            margin-top: 20px;
        }
    }

    @include breakpoint(small) {
        h1 {
            &::after,
            &::before {
                width: 250px;
            }
        }

        .map-wrap {
            width: 250px;
        }
    }
}