//     .mfp-bg {
//     background-color: #fff;
//     opacity: 0;
// }
// .

.fleet-page {
    .mfp-bg {
        background-color: #fff;
    }
}

.mfp-bottom-bar {
    display: none;
}

.mfp-figure {
    &::after {
        box-shadow: none;
    }

    .mfp-close {
        right: -50px;
        transform: translateY(-15px);
        color: transparent;
        text-align: right;

        &::after {
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            background-image: url("../images/ui/small-close.png");
        }
    }
}

button.mfp-arrow {
    &::before, &::after {
        display: none;
    }

    &.mfp-arrow-left, &.mfp-arrow-right {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 50px;
        height: 50px;
        margin-bottom: 0;
    }

    &.mfp-arrow-left {
        background-image: url("../images/ui/arrow-left.png");
        left: 5vw;
    }

    &.mfp-arrow-right {
        background-image: url("../images/ui/arrow-right.png");
        right: 5vw;
    }
}