.mobile-tour-menu {
    display: none;
    max-width: 300px;
    margin: auto;
    border: 2px solid $yellow;
    font-size: 15px;
    position: relative;
    box-sizing: border-box;

    .current-menu {
        position: relative;
        display: block;
        padding: 10px 0;
        background-color: rgba(#fff, 1);
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            right: 10px;
            top: 50%;
            border-color: transparent;
            border-width: 10px 7px 0 7px;
            border-style: solid;
            border-top-color: #000;
            transform: translateY(-50%);
        }
    }

    .mobile-tour-options {
        position: absolute;
        left: -2px;
        display: none;
        width: calc(100% + 4px);
        background-color: rgba(#fff, 1);
        border: 2px solid $yellow;
        z-index: 3;

        li {
            a {
                display: block;
                padding: 8px 0;
                transition-property: all;
                transition-duration: .3s;

                &:hover {
                    background-color: rgba($yellow, 0.3);
                }
            }
        }
    }

    @include breakpoint(small) {
        display: block;
    }
}