.page-navigation {
    position: fixed;
    right: 35px;
    top: 46.5%;
    z-index: 110;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(-50%);

    &.left-position {
        right: auto;
        left: 35px;
        align-items: flex-start;

        li {
            flex-direction: row-reverse;
            justify-content: flex-start;

            &.active {
                .page-title {
                    margin-left: 15px;
                    margin-right: 0;
                }
            }
        }
    }

    li {
        position: relative;
        display: flex;
        align-items: flex-end;

        a {
            position: relative;
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 0.5);
            cursor: pointer;
            transition-duration: .3s;
            transition-property: all;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #fff;
                transform: translate(-50%, -50%);
                transition-duration: .3s;
                transition-property: all;
                opacity: 0;
            }
        }

        .page-title {
            opacity: 0;
            visibility: hidden;
            font-size: 16px;
        }

        &.active {
            .page-title {
                display: inline-block;
                visibility: visible;
                opacity: 1;
                margin-right: 15px;
                color: #fff;
            }

            a::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                opacity: 1;
                border-radius: 50%;
                background-color: #fff;
                transform: translate(-50%, -50%);
                transition-duration: .3s;
                transition-property: all;
            }
        }

        &.hover {
            @extend .active;
        }

        &.active-page-nav {
            border: 2px solid #fff;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #fff;
                transform: translate(-50%, -50%);
                transition-duration: .3s;
                transition-property: all;
            }
        }

        + li {
            margin-top: 30px;
        }
    }

    @include breakpoint(small) {
        display: none;
    }


    @include breakpoint(extra-small) {
        right: 20px;
    }
}