.page-content {
    position: relative;
    height: 100vh;
    overflow: hidden;

    .page-content-bg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

    .social-icons {
        position: fixed;
        bottom: 40px;
        right: 45px;

        // z-index: 0;

        @include breakpoint(small) {
            bottom: 20px;
            right: 20px;
        }
    }

    background-color: rgba(0, 0, 0, 0);
    transition-duration: 1s;
    transition-property: background-color;

    &.loading {
        background-color: rgba(0, 0, 0, 1);
    }

    @include breakpoint(small) {
        height: auto;
        overflow: visible;

        // overflow-x: hidden;
        overflow-y: visible;

        .page-content-bg {
            position: static;
        }

        &.full-height-mobile {
            height: 100vh;
        }
    }
}