$border-color: rgba(#fff, 0.3);

.property-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    .property-item {
        // width: 25%;
        width: 80px;

        p.property-value {
            margin-top: 10px;
            font-size: 16px;
        }

        .property-name {
            margin-top: 20px;
            font-family: $f-bold;
            font-size: 16px;
            text-transform: uppercase;

            &::after {
                content: '';
                margin: 0 auto;
                margin-top: 10px;
                display: block;
                width: 20px;
                height: 2px;
                background-color: $border-color;
            }
        }
    }

    .property-image {
        height: 80px;
        border: 2px solid $border-color;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .property-text-content {
        margin-left: -40px;
        margin-right: -40px;
    }

    @media (min-width: 992px) and (max-height: 850px) {
        padding-top: 15px;

        .property-image {
            height: 60px;
        }

        .property-item {
            width: 60px;

            .property-name {
                margin-top: 10px;
                font-size: 13px;
            }

            p.property-value {
                font-size: 13px;
            }
        }
    }

    @include breakpoint(medium) {
        .property-image {
            height: 45px;
            background-size: 27px;
        }

        .property-item {
            width: 45px;

            .property-name {
                &::after {
                    margin-top: 10px;
                }
            }
        }
    }


    @include breakpoint(small) {
        justify-content: space-around;

        .property-image {
            height: 100px;
            background-size: 40px;
        }

        .property-item {
            width: 100px;

            .property-name {
                font-size: 14px;
            }

            p.property-value {
                font-size: 13px;
            }
        }
    }


    @include breakpoint(extra-small) {
        flex-wrap: wrap;
        justify-content: center;

        .property-item {
            margin: 20px;
        }
    }
}