.scroll-bottom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 100;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
    transition-duration: 500ms;
    transition-property: transform;
    transition-timing-function: linear;

    &:hover {
        animation-name: scroll-bottom-animation !important;
        animation-iteration-count: infinite;

        // animation-
   
    }

    @include breakpoint(large) {
        bottom: 15px;
    }


    @include breakpoint(small) {
        display: none;
    }


    // @include breakpoint(extra-small) {
    //     bottom: 20px;
    // }
}

.scroll-bottom-text {
    margin-bottom: 45px;

    h4 {
        font-family: $sans-regular;
    }

    @include breakpoint(extra-small) {
        display: none;
    }
}

// .animated.animation-done, .loaded.animation-done {
//     .scroll-bottom {
//         animation-name: none;
//         transform: translateX(-50%);
//     }
// }

@media (max-width: 1600px) {
    .scroll-bottom {
        img {
            max-width: 15px;
        }

        .scroll-bottom-text {
            margin-bottom: 15px;
        }
    }
}

@keyframes scroll-bottom-animation {
    0% {
        transform: translateX(-50%) translateY(0px);
    }

    25% {
        transform: translateX(-50%) translateY(-10px);
    }

    50% {
        transform: translateX(-50%) translateY(0px);
    }

    75% {
        transform: translateX(-50%) translateY(10px);
    }

    100% {
        transform: translateX(-50%) translateY(0px);
    }
}