.select-ship {
    .select-ship-title {
        color: #fff;
        margin-bottom: 16px;
    }

    .select-ship-button + .select-ship-button {
        margin-left: 5px;
    }

    @include breakpoint(mobile-landscape) {
        display: flex;
        flex-direction: column;
        padding-right: 30px;
        padding-left: 30px;

        .select-ship-button + .select-ship-button {
            margin-left: 0;
            margin-top: 15px;
        }
    }


    @media (min-width: 992px) and (max-height: 740px) {
        .select-ship-title {
            margin-bottom: -22px;
        }

        .select-ship-button {
            width: 225px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .select-ship-button + .select-ship-button {
            margin-left: 120px;
        }
    }
}