.ship {
    color: $font-color;

    .ship-image {
        position: absolute;
        top: 0;
        bottom: 360px;

        h2 {
            position: absolute;
            top: 80px;
            position: left;
            font-size: 56px;
            font-family: $sans-light;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .ship-description {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 360px;
        padding-top: 60px;
        box-sizing: border-box;
        line-height: 1.5;

        .ship-description-columns {
            columns: 3;
            column-gap: 80px;
            padding-right: 260px;
            padding-left: 280px;
        }

        .one-column {
            h2 {
                margin-bottom: 20px;
            }

            text-align: center;
            width: 540px;
            margin: 0 auto;
        }

        h2 {
            line-height: 1;
            margin-bottom: 5px;
            font-family: $sans-regular;
        }
    }

    .ship-link {
        display: flex;
        z-index: 20;
        position: absolute;
        bottom: 375px;
        height: 320px;
        width: 280px;
        transition-property: transform;
        transition-duration: 300ms;
        transition-timing-function: linear;

        .ship-inner-wrap {
            position: relative;
            z-index: 1;
        }

        .arrow-wrapper {
            margin-top: 90px;
            margin-bottom: 20px;
        }

        .ship-inner-ship-image {
            display: block;
            margin-bottom: 10px;
        }

        .ship-inner-ship-name {
            font-family: $f-bold;
            font-size: 16px;
            text-transform: uppercase;
            color: $font-color;
        }

        .ship-link-main-link {
            display: block;

            // flex-direction: column;
            // align-items: flex-start;
       
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
        }
    }

    &.ship-right {
        .ship-link {
            left: 0;
            transform: translateY(50%);

            .ship-inner-wrap {
                padding-left: 25px;
            }

            .ship-inner-ship-name {
                padding-left: 10px;
            }

            &::before {
                left: 0;
                border-width: 175px 0 175px 340px;
                border-color: transparent transparent transparent #fff;
            }
        }

        .ship-image {
            left: 150px;
            right: 0;

            h2 {
                left: 130px;
            }
        }
    }

    &.ship-left {
        .ship-link {
            right: 0;
            transform: translateY(50%);

            .arrow-wrapper {
                text-align: right;
                margin-bottom: -10px;
            }

            .ship-inner-wrap {
                padding-right: 25px;
                margin-right: 0;
                margin-left: auto;

                .ship-link-main-link {
                    // align-items: flex-end;
                    text-align: right;
                }
            }

            .ship-inner-ship-name {
                padding-right: 10px;
                text-align: right;
            }

            &::before {
                right: 0;
                border-width: 175px 340px 175px 0;
                border-color: transparent #fff transparent transparent;
            }
        }

        .ship-image {
            right: 150px;
            left: 0;

            h2 {
                right: 130px;
                color: #fff;
            }
        }
    }

    @include breakpoint(large) {
        .ship-description {
            .ship-description-columns {
                padding-right: 100px;
            }
        }
    }


    @media (min-width: 992px) and (max-height: 650px) {
        .ship-image {
            bottom: 320px;
        }

        .ship-link {
            bottom: 335px;
        }
    }

    @include breakpoint(small) {
        padding-bottom: 40px;

        .ship-image {
            position: static;
            right: 0;
            padding-top: 41%;

            h2 {
                left: 50%;
                transform: translateX(-50%);
                font-size: 36px;
                text-align: center;
            }
        }

        .ship-description {
            position: static;
            bottom: 40px;
            width: auto;
            height: auto;
            margin-top: 20px;
            padding-top: 0;
            padding-left: 15px;
            padding-right: 15px;

            .ship-description-columns {
                columns: auto;
                column-gap: 0;
                padding: 0 15px;
                text-align: center;
            }

            .one-column {
                width: auto;
            }
        }

        .ship-link {
            margin-top: 20px;
        }

        &.ship-left {
            .ship-image {
                h2 {
                    right: auto;
                }
            }

            .ship-link {
                position: static;
                right: 50%;
                height: auto;
                width: auto;
                transform: none;

                &::before {
                    display: none;
                    border-width: 175px 285px 175px 0;
                }

                .ship-inner-wrap {
                    margin: auto;
                }

                .arrow-wrapper {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    margin-top: 0;
                }
            }
        }

        &.ship-right {
            .ship-image {
                h2 {
                    left: 50%;
                }
            }

            .ship-link {
                position: static;
                right: 50%;
                height: auto;
                width: auto;
                transform: none;

                &::before {
                    display: none;
                    border-width: 175px 285px 175px 0;
                }

                .ship-inner-wrap {
                    margin: auto;
                }

                .arrow-wrapper {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    margin-top: 0;
                }
            }
        }
    }


    @include breakpoint(extra-small) {
        .ship-image {
            padding-top: 0;
            height: 300px;
        }
    }
}