.ship-description {
    .big-heading {
        margin-bottom: 40px;
    }

    &.ship-description-left {
        .big-heading {
            text-align: right;
        }

        .ship-description-button-wrapper {
            text-align: right;
        }
    }

    .ship-description-container {
        width: 100%;
        max-width: 1100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .ship-description-wrapper {
        background-color: rgba(255, 255, 255, 0.65);
    }

    .ship-description-button-wrapper {
        margin-top: 30px;
        text-align: right;
    }

    .col-wrapper {
        display: flex;

        .ship-description-image-col {
            width: 60%;
            padding-top: 50px;
            padding-right: 15px;
            padding-left: 60px;
            display: flex;
            align-items: center;
        }

        .ship-description-image-text {
            letter-spacing: 1px;
            width: 40%;
            padding-top: 50px;
            padding-right: 35px;
            padding-left: 15px;
            line-height: 1.5;

            h2 {
                font-family: $sans-regular;
                margin-bottom: 30px;
            }

            ul {
                text-transform: uppercase;

                li {
                    position: relative;
                    padding-left: 25px;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 2px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 8.5px 0 8.5px 13px;
                        border-color: transparent transparent transparent #2d3446;
                    }
                }

                li + li {
                    margin-top: 25px;
                }
            }
        }
    }

    @media (max-height: 900px) {
        .big-heading {
            margin-bottom: 15px;
        }

        .ship-description-button-wrapper {
            margin-top: 15px;
        }

        .col-wrapper {
            .ship-description-image-col {
                padding-top: 30px;
                padding-left: 30px;
                width: 50%;
            }

            .ship-description-image-text {
                padding-top: 20px;
                padding-right: 10px;
                width: 50%;

                ul {
                    li + li {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    @include breakpoint(small) {
        .ship-description-container {
            position: static;
            padding-bottom: 40px;
            transform: none;

            .big-heading {
                text-align: center;
            }
        }

        &.ship-description-left {
            .big-heading {
                padding: 0 5px;
                text-align: center;
            }
        }

        &.ship-description-left,
        &.ship-description-right {
            .ship-description-button-wrapper {
                margin-top: 40px;
                text-align: center;
            }
        }
    }


    @include breakpoint(extra-small) {
        .col-wrapper {
            flex-direction: column;
            align-items: center;

            .ship-description-image-text {
                width: 95%;
            }
        }
    }
}