.ship-slider-wrapper {
    padding-top: 30px;
    padding-bottom: 40px;

    .ship-slider {
        padding-right: 15px;
        padding-left: 15px;

        .ship-slide {
            padding-right: 14px;
            padding-left: 14px;

            .bg {
                display: block;
                padding-top: 66.66%;
            }
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            width: 27px;
            height: 49px;
            z-index: 5;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
        }

        .slick-prev {
            left: 10px;
            background-image: url("../images/ui/arrow-prev-dark.png");
        }

        .slick-next {
            right: 10px;
            background-image: url("../images/ui/arrow-next-dark.png");
        }
    }

    @media (max-height: 900px) {
        padding-bottom: 15px;

        .ship-slider {
            .ship-slide {
                padding-right: 10px;
                padding-left: 10px;

                .bg {
                    padding-top: 50%;
                }
            }
        }
    }

    @include breakpoint(small) {
        .ship-slider {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}