.slider {
    max-width: 78%;
    max-width: 84.5%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 160px;
    margin-right: 83px;
    padding-top: 30px;
    background-image: url("../images/bg/slider-bg.jpg");

    .slider-wrapper {
        margin-left: -75px;
        margin-right: -75px;
        padding-bottom: 45px;
        padding-left: 75px;
        padding-right: 75px;

        .slick-slide {
            img {
                width: 160%;
                max-width: 160%;
                max-width: 400px;
                margin-top: 30px;
                margin-left: -30%;

                @media (max-width: 1600px) {
                    width: 120%;
                    margin-left: -10%;
                }

                @include breakpoint(extra-small) {
                    width: 110%;
                    margin-left: -5%;
                }


                @include breakpoint(small-tablet-portrait) {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }

    .slide-fish {
        text-transform: uppercase;
    }

    .slide-inner-wrapper {
        width: 250px;
        margin: auto;

        @media (max-width: 1600px) {
            width: 220px;
        }

        @include breakpoint(small-tablet-portrait) {
            width: 90%;
        }
    }

    .slide-card {
        padding-top: 17px;
        padding-bottom: 26px;
        background-color: #e8e8e8;
    }

    .slide-title,
    .slide-option-value {
        margin-bottom: 5px;
        font-family: $f-bold;
        font-size: 21px;
        letter-spacing: 1px;
        color: #333333;
    }

    .slide-sub-title,
    .slide-meter-title,
    .slide-option-title {
        margin-bottom: 7px;
        font-family: $sans-light;
        font-size: 12px;
        letter-spacing: 3px;
        color: #000;
    }

    .slide-sub-title {
        min-height: 24px;
    }

    .slide-add-info {
        margin-top: 20px;
    }

    .slide-meter {
        position: relative;
        padding-left: 55px;

        .slide-meter-title {
            position: absolute;
            top: 50%;
            left: 0;
            width: 50px;
            margin-bottom: 0;
            transform: translateY(-50%);
        }

        .slide-meter-line {
            width: 100%;
            height: 18px;
            margin-left: 5px;
            padding-right: 5px;
            background-color: #2b3244;
            text-align: right;
            color: #fff;
        }

        + .slide-meter {
            margin-top: 15px;
        }
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        border: none;
        width: 27px;
        height: 49px;
        z-index: 5;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
    }

    .slick-prev {
        left: 0;
        background-image: url("../images/ui/arrow-prev.png");
    }

    .slick-next {
        right: 0;
        background-image: url("../images/ui/arrow-next.png");
    }

    /* slider with mini-fishes */
    .slider-nav {
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #2c3445;

        .nav-slide {
            img {
                margin: auto;
            }
        }
    }

    @media (min-width: 992px) and (min-height: 600px) and (max-height: 950px) {
        margin-top: 35px;

        .slider-wrapper {
            padding-bottom: 15px;
            margin-left: -40px;
            margin-right: -40px;
            padding-right: 40px;
            padding-left: 40px;

            .slick-slide {
                img {
                    margin-top: 0;
                }
            }
        }
    }

    @media (min-height: 700px) and (max-width: 1800px) and (max-height: 870px) {
        margin-top: 60px;
    }

    @media (min-width: 992px) and (max-height: 699px) {
        margin-top: 15px;
    }

    @include breakpoint(small) {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

        .slider-wrapper {
            margin-right: -45px;
            margin-left: -45px;
            padding-left: 45px;
            padding-right: 45px;
        }
    }


    @include breakpoint(extra-small) {
        .slide-inner-wrapper {
            width: 200px;
        }

        .slide-title,
        .slide-option-value {
            font-size: 18px;
        }
    }


    @include breakpoint(small-tablet-portrait) {
        .slider-wrapper {
            margin-right: -20px;
            margin-left: -20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .slide-inner-wrapper {
            width: 90%;
        }

        .slick-prev {
            left: -15px;
        }

        .slick-next {
            right: -15px;
        }
    }
}