.social-icons {
    display: inline-block;
    color: #fff;
    transition-duration: .3s;
    transition-property: all;

    li {
        display: inline-block;

        + li {
            margin-left: 10px;
        }

        a {
            font-size: 16px;
        }
    }

    @include breakpoint(small) {
        li + li {
            margin-left: 20px;
        }
    }
}