.tours {
    position: relative;
    display: flex;
    overflow: hidden;

    .custrom-trip-link {
        display: inline-block;
        margin-top: 30px;
        padding-left: 50px;
        font-family: $sans-bold;
        font-size: 13.5px;
        text-transform: uppercase;
        animation-name: meniList;
        animation-duration: 2s;
    }

    h2 {
        font-family: $sans-bold;
    }

    .toures-title {
        font-family: $sans-regular;
        letter-spacing: 1.2px;
    }

    .tours-content {
        position: absolute;
        bottom: 70px;
        text-align: center;
        max-width: 310px;
        left: 50%;
        transform: translateX(-50%) translateZ(0);
        background-size: 0;
        animation-name: fadeIn;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;

        .tours-content-text {
            max-height: 125px;
            padding-right: 8px;
            overflow: hidden;

            + .button {
                margin-top: 50px;
            }
        }

        p {
            font-size: 13px;
            line-height: 1.55;
            letter-spacing: 0.4px;
        }
    }

    .tours-left,
    .tours-right {
        position: relative;
        width: 50%;
        height: 100%;
    }

    .tours-left {
        padding-top: 20.5vh;
        padding-left: 12.5vw;
        background-color: #f7f7f7;

        .main-nav-list {
            display: inline-block;
            display: block;
            margin-top: 125px;
            margin-top: 60px;
            padding-left: 6px;
        }

        .main-nav-list-item {
            padding-left: 50px;
            font-family: $sans-bold;
            font-size: 13.5px;
            font-weight: bold;

            + .main-nav-list-item {
                margin-top: 30px;
            }
        }

        .logo-mini {
            position: absolute;
            left: 35px;
            bottom: 30px;

            // animation-name: showLogo;
            // animation-duration: 1.5s;
            // animation-fill-mode: forwards;
       
        }
    }

    .tours-right {
        color: #fff;

        .coordinate {
            position: absolute;
            left: 52%;
            top: 21%;
            width: 88%;
            text-align: center;
            transform: translateX(-50%) translateZ(0);
        }

        .coordinate-number {
            position: absolute;
            top: 32%;
            left: 50%;
            font-size: 33px;
            letter-spacing: 6px;
            transform: translateX(-50%);

            .coordinate-s,
            .coordinate-e {
                display: block;
                font-weight: bold;
                transform: translateZ(0);

                &.anim {
                    animation-name: fadeIn;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    .tours-tab {
        margin-top: 60px;

        .tours-ships-head {
            position: relative;
            display: inline-block;
        }

        .ship-item {
            position: relative;
            display: inline-block;
            opacity: .4;
            cursor: pointer;
            z-index: 2;

            + .ship-item {
                margin-left: 30px;
            }

            &.active {
                opacity: 1;

                .ship-item-title {
                    opacity: 1;
                }
            }
        }

        .ship-item-divider {
            position: absolute;
            height: 32px;
            width: 2px;
            background-color: $darken;
            left: 52%;
            transform: translateX(-50%);
            bottom: -6px;
        }

        .ship-item-title {
            position: relative;
            left: 0;
            bottom: 0;
            display: inline-block;
            font-family: $sans-bold;
            font-size: 18px;
            text-transform: uppercase;
            color: $darken;
            transition: .3s all;
        }
    }

    @media (min-width: 992px) and (max-height: 720px) {
        .toures-title {
            font-size: 22px;
        }

        .tours-content {
            max-width: 210px;
        }
    }

    @media (min-width: 992px) and (max-width: 1600px) {
        .tours-right {
            .coordinate {
                width: 75%;
                left: 45%;
            }

            .coordinate-number {
                font-size: 25px;
            }
        }
    }

    @media (max-width: 1800px) and (max-height: 850px) {
        .tours-content {
            max-width: 210px;

            .tours-content-text + .button {
                margin-top: 20px;
            }
        }
    }

    @include breakpoint(large) {
        .tours-tab {
            .ship-item-title {
                font-size: 16px;
            }
        }

        .custrom-trip-link {
            font-size: 12px;
        }

        .tours-left {
            .main-nav-list-item {
                font-size: 12px;
            }
        }
    }


    @include breakpoint(medium) {
        .tours-left {
            padding-left: 5%;
        }

        .tours-content {
            bottom: 60px;
        }
    }


    @include breakpoint(small) {
        flex-wrap: wrap;
        overflow: visible;

        .tours-left,
        .tours-right {
            width: 100%;
        }

        .tours-content {
            position: static;
            margin-left: auto;
            margin-right: auto;
            transform: none;

            .tours-content-text {
                overflow: visible;
                max-height: 100%;
            }
        }

        .tours-left {
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 0;
            text-align: center;

            .main-nav-list {
                display: inline-block;
                margin-top: 30px;
                padding-left: 0;
                text-align: left;

                .main-nav-list-item {
                    padding-left: 0;

                    &::before {
                        left: auto;
                        right: 105%;
                    }
                }

                .custrom-trip-link {
                    padding-left: 0;
                }
            }

            .logo-mini {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .tours-right {
            padding: 40px 0;
            order: 2;

            .coordinate {
                position: relative;
                left: 0;
                top: 0;
                width: 100%;
                text-align: center;
                transform: none;
            }

            .coordinate-img {
                max-width: 75%;
            }

            .coordinate-number {
                position: absolute;

                .coordinate-s,
                .coordinate-e {
                    font-size: 25px;
                }
            }
        }

        .triangle-wrapper {
            position: static;
            z-index: 1;
            width: 100%;
            height: auto;
            padding-top: 40px;
            padding-bottom: 40px;
            transform: none;

            .top-triangle,
            .bottom-triangle {
                display: none;
            }
        }
    }


    @include breakpoint(mobile-landscape) {
        .tours-left {
            .main-nav-list {
                .main-nav-list-item {
                    padding-left: 50px;
                    font-size: 11.5px;

                    &::before {
                        left: 0;
                        right: auto;
                    }
                }

                .custrom-trip-link {
                    font-size: 11.5px;
                    padding-left: 50px;
                }
            }
        }

        .tours-tab {
            .ship-item {
                display: block;

                + .ship-item {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }

            .ship-item-divider {
                transform: rotate(90deg);
                bottom: 8px;
            }

            .ship-item-title {
                font-size: 15px;
            }
        }
    }
}

// @keyframes showLogo {
//     from {
//         transform: translateX(-50%);
//         opacity: 0;
//     }

//     to {
//         transform: translateX(0);
//         opacity: 1;
//     }
// }