.tour-menu {
    text-align: left;
    z-index: 12;
    opacity: 1;
    visibility: visible;
    position: fixed;
    left: 38px;
    top: 125px;
    transition-duration: 1.3s;
    transition-property: all;

    .tour-menu-item {
        transition-property: transform;
        transition-duration: 200ms;
        transition-timing-function: linear;

        + .tour-menu-item {
            margin-top: 16.5px;
        }

        &:not(.active):hover {
            transform: translateX(18px);
        }

        &.active {
            .tour-menu-link {
                &::before {
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-right: 6px;
                    border-style: solid;
                    border-width: 8px 0 8px 13px;
                    border-color: transparent transparent transparent $yellow;
                    transition-duration: .3s;
                    transition-property: all;
                }
            }
        }
    }

    .tour-menu-link {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        transition-duration: .3s;
        transition-property: all;

        &.tour-menu-link--active {
            &::before {
                // content: "";
                // display: inline-block;
                // width: 0;
                // height: 0;
                // margin-right: 6px;
                // border-style: solid;
                // border-width: 8px 0 8px 13px;
                // border-color: transparent transparent transparent #f0c73a;
                // transition-duration: .3s;
                // transition-property: all;
           
            }
        }
    }

    &--darken {
        .tour-menu-link {
            color: $darken;
        }
    }

    @include breakpoint(small) {
        display: none;
    }
}