.tour-locations-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

$black-tour-pagination-color: #2a3244;

.tour-pagination.tour-pagination--black {
    color: $black-tour-pagination-color;

    &::before, &::after {
        background-color: $black-tour-pagination-color;
    }

    .tour-pagination-item--prev .tour-pagination-link {
        background-image: url(../images/ui/tour-black-pagi-left.png);
    }

    .tour-pagination-item--next .tour-pagination-link {
        background-image: url(../images/ui/tour-black-pagi-right.png);
    }

    .tour-spot-title {
        color: $black-tour-pagination-color;
    }

    .tour-pagination-link {}

    .tour-pagination-link {
        border-color: $black-tour-pagination-color;

        &::before {
            background-color: $black-tour-pagination-color;
        }

        &::after {
            border-color: transparent transparent $black-tour-pagination-color transparent;
        }
    }

    .tour-pagination-item::after {
        background-color: $black-tour-pagination-color;
    }
}

.tour-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    margin-top: 0;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 3px;
        width: 1200px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    &::before {
        left: 100%;
        margin-left: 25px;
    }

    &::after {
        right: 100%;
        margin-right: 25px;
    }

    .tour-pagination-item--prev,
    .tour-pagination-item--next {
        position: relative;

        &::before, &::after {
            display: none;
        }

        .tour-pagination-link {
            width: 40px;
            height: 46px;
            opacity: .3;
            border: none;
            border-radius: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition-property: opacity;
            transition-duration: .3s;

            &::before, &::after {
                display: none;
            }

            &:hover {
                opacity: 1;
            }

            @include breakpoint(extra-small) {
                width: 20px;
                height: 23px;
            }
        }
    }

    .tour-pagination-item--prev {
        right: 10px;

        .tour-pagination-link {
            background-image: url("../images/ui/tour-pagi-left.png");
        }
    }

    .tour-pagination-item--next {
        left: 10px;

        .tour-pagination-link {
            background-image: url("../images/ui/tour-pagi-right.png");
        }
    }

    @include breakpoint(large) {
        max-width: 900px;
    }


    @include breakpoint(medium) {
        max-width: 700px;
    }


    @include breakpoint(extra-small) {
        max-width: 500px;

        &::before {
            margin-left: 12px;
        }

        &::after {
            margin-right: 12px;
        }

        .tour-pagination-item--next {
            left: 5px;
        }

        .tour-pagination-item--prev {
            right: 5px;
        }
    }


    @include breakpoint(small-tablet-portrait) {
        max-width: 400px;
    }


    @include breakpoint(mobile-landscape) {
        max-width: 300px;
    }


    @include breakpoint(mobile) {
        max-width: 260px;
    }
}

.tour-pagination-item {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    flex: 1;

    // width: (1170px / 7);

    &.tour-pagination-item--active {
        .tour-spot-title {
            opacity: 1;
        }

        a {
            border: 2px solid #fff;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #fff;
                transform: translate(-50%, -50%);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8px 13px 8px;
                border-color: transparent transparent #fff transparent;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 110px;
        top: 50%;
        transform: translateY(-50%);
        height: 3px;
        width: 142px;
        background-color: rgba(255, 255, 255, 0.2);

        @include breakpoint(extra-small) {
            left: 69%;
            width: 61%;
        }
    }

    &:nth-last-child(2) {
        &::after {
            width: 65%;

            @include breakpoint(extra-small) {
                width: 49%;
            }
        }
    }

    @include breakpoint(large) {
        &::after {
            left: 90px;
            width: 90px;
        }
    }


    @include breakpoint(medium) {
        &::after {
            // left: 70px;
            // width: 68px;
            left: 80px;
            width: 90px;

            // left: 80px;
            // width: 85px;
       
        }
    }


    @include breakpoint(small) {
        &::after {
            // left: 70px;
            // width: 68px;
            left: 80px;
            width: 85px;
        }
    }


    @include breakpoint(extra-small) {
        &::after {
            // left: 47px;
            // width: 47px;
            left: 92px;
            width: 120px;
        }

        a {
            &::before {
                width: 8px;
                height: 8px;
            }
        }
    }


    @include breakpoint(small-tablet-portrait) {
        &::after {
            left: 75px;
            width: 85px;
        }
    }


    @include breakpoint(mobile-landscape) {
        .tour-spot-title {
            transition-duration: 300ms;
            transition-property: 0;
            transition-timing-function: linear;
            opacity: 0;
        }

        &.slick-center {
            .tour-spot-title {
                opacity: 1;
                bottom: 0;
                top: auto;
            }
        }

        &::after {
            left: 60px;
            width: 57px;
        }

        &.tour-pagination-item--active {
            &.slick-center {
                .tour-spot-title {
                    opacity: 1;
                    top: 0;
                    bottom: auto;
                }
            }
        }
    }


    @include breakpoint(mobile) {
        &::after {
            left: 50px;
            width: 48px;
        }
    }
}

.tour-pagination-title {
    margin-bottom: 15px;
    padding-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #f7f7f7;

    &--darken {
        color: $darken;
    }

    @include breakpoint(small) {
        display: none;
        margin-bottom: 15px;
        padding-top: 0;
    }


    @include breakpoint(extra-small) {
        font-size: 13px;
    }
}

.tour-spot-title {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    width: 120px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translateX(-50%);
    transition-duration: .3s;
    transition-property: all;
}

.tour-pagination-link {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);

    @include breakpoint(extra-small) {
        width: 16px;
        height: 16px;
    }
}