.tour-single {
    height: 100%;
    padding: 0 38px;

    .tour-pagination {
        width: 44.5%;
        margin-top: 5px;
    }

    .tour-pagination-title {
        padding-top: 53px;
        font-size: 13px;
        text-align: left;
    }

    .tour-loactions-logo {
        max-height: 100%;

        @media (min-height: 768px) and (max-height: 920px) {
            max-width: 230px;
        }
    }

    .tour-menu {
        position: absolute;
        left: 0;
        top: 0;
    }

    .logo-mini {
        position: absolute;
        left: 38px;
        bottom: 28px;
    }

    .tour-single-about {
        // max-width: 55%;
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
        color: #fff;

        p {
            margin-top: 10px;
            letter-spacing: 1px;
            line-height: 1.2;

            + p {
                margin-top: 20px;
            }
        }

        .weather-options-item {
            max-width: 100%;
        }
    }

    .tour-single-text-container {
        // margin-top: 10px;
        // padding-right: 15px;
        padding-right: 0;
        text-align: left;

        .read-more-wrapper {
            margin-top: 15px;
        }
    }

    .tour-introduction-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: #fff;

        .tour-introduction-item {
            width: 28%;
            max-width: 402px;

            &--border {
                padding: 15px 0;
                border-top: solid 3px rgba(255, 255, 255, 0.2);
                border-bottom: solid 3px rgba(255, 255, 255, 0.2);
            }
        }

        .tour-info-link {
            position: relative;
            display: block;
            padding-top: 66%;
            z-index: 1;

            @extend .bg;

            &::before {
                content: "";
                position: absolute;
                opacity: 0;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: rgba(0, 0, 0, 0.4);
                transition-duration: .3s;
                transition-property: all;
            }

            .button-big {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    .type-of-fishing {
        max-width: 72.5%;
    }

    @media (min-width: 992px) and (max-width: 1500px) {
        .tour-introduction-container {
            .tour-introduction-item {
                width: 20%;
            }
        }
    }

    @include breakpoint(medium) {
        .type-of-fishing {
            .type-of-fishing-content {
                max-width: 100%;
                padding: 0 15px;
            }
        }
    }


    @include breakpoint(small) {
        padding: 0 20px;

        .type-of-fishing {
            max-width: 82%;
        }

        .tour-pagination {
            width: 85%;
            margin-top: 40px;
        }

        .tour-menu {
            position: relative;
            text-align: center;

            .tour-menu-link {
                display: inline-flex;
            }
        }

        .tour-single-about {
            max-width: 700px;
            margin-top: 30px;

            p {
                margin-top: 0;
            }

            .weather-options-item {
                max-width: 140px;
                font-size: 30px;

                .weather-option-info {
                    font-size: 15px;
                }
            }
        }
    }


    @include breakpoint(extra-small) {
        .logo-mini {
            bottom: 20px;
            left: 20px;
            max-width: 70px;
        }

        .tour-introduction-container {
            display: block;

            .tour-introduction-item {
                width: auto;
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }


    @include breakpoint(small-tablet-portrait) {
        .type-of-fishing {
            max-width: 100%;

            .type-of-fishing-nav {
                .fishing-nav-slide-img-wrapper {
                    width: 126px;
                    height: 126px;
                }
            }
        }

        .tour-single-about {
            .weather-options--big {
                flex-wrap: wrap;
                justify-content: flex-start;

                .weather-options-item {
                    max-width: 50%;

                    &:nth-child(2n+1) {
                        border-left: solid 3px rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }
}