.tour-locations {
    .logo-mini {
        position: absolute;
        left: 40px;
        bottom: 25px;

        @include breakpoint(extra-small) {
            bottom: 20px;
            left: 20px;
            max-width: 70px;
        }
    }
}

.tour-locations-header {
    z-index: 15;
    padding-top: 15px;

    // background-color: rgba(107, 114, 132, 0.71);
    text-align: center;

    @include breakpoint(small) {
        display: none;
        //top: 54px;
        //padding-bottom: 20px;

        // background-color: rgba(107, 114, 132, 0.71);
    }
}

.tour-locations-body {
    position: relative;
    margin-top: 220px;
    text-align: center;
    z-index: 14;

    @include breakpoint(small) {
        padding-bottom: 40px;
    }
}

.tour-locations-title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    + .button-secondary-wrapper {
        margin-top: 25px;
    }

    &.tour-locations-title-bold {
        h1 {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 25px;
            font-family: $f-bold;

            &::after {
                display: none;
            }

            // letter-spacing: 10px;
       
        }
    }

    .tour-locations-sub-title {
        max-width: 710px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        font-family: $myriad-reg;
        font-size: 14px;
        line-height: 1.75;
        letter-spacing: 0.3px;
        text-transform: none;

        @media (min-width: 992px) and (max-height: 870px) {
            margin-top: 10px;
            font-size: 13px;
        }

        @media (min-width: 992px) and (max-width: 1200px) {
            max-width: 660px;
        }
    }

    h1 {
        position: relative;
        display: inline-block;
        padding: 0 40px;
        padding-bottom: 12px;
        letter-spacing: 4px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.2);
            width: 100%;
        }
    }

    h2 {
        font-family: $f-bold;
        font-size: 35px;
        color: #283042;

        @media (min-height: 950px) {
            padding-top: 70px;
        }
    }

    &.white {
        color: #fff;

        h1, h2, h3 {
            color: #fff;
        }
    }

    .tour-locations-title--sub {
        font-family: $sans-light;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: -1px;
        text-transform: uppercase;
    }

    @media (min-width: 992px) and (max-width: 1500px) {
        h1 {
            font-size: 30px;
        }
    }

    @include breakpoint(small) {
        margin-top: 30px;
    }


    @include breakpoint(extra-small) {
        h2 {
            font-size: 25px;
        }
    }
}

.tour-locations-logo-wrapper {
    position: relative;
    display: inline-block;

    .button-triangle {
        position: absolute;
        display: none;
        left: 50%;
        top: 75%;
        transform: translateX(-50%) translateY(-50%);

        &.active {
            display: block;
        }
    }

    @media (min-width: 992px) and (max-height: 700px) {
        .button-triangle {
            background-size: contain;
            width: 70px;
            height: 65px;

            .button-trangle-text {
                font-size: 20px;
            }
        }
    }

    @include breakpoint(small-tablet-portrait) {
        .button-triangle {
            transform: translateX(-50%) scale(0.7);
        }
    }


    @media (max-height: 450px) {
        .button-triangle {
            bottom: -40%;
            transform: translateX(-50%) translateY(-50%) scale(0.7);
        }
    }
}

.tour-loactions-logo {
    margin-top: 20px;

    @media (min-height: 700px) and (max-height: 940px) {
        max-width: 30vw;
    }

    // @media (min-width: 992px) and (min-height: 600px) and (max-width: 1700px) {
    //     max-width: 15vw;
    // }

    @media (min-width: 992px) and (max-width: 1400px) and (max-height: 740px) {
        max-width: 100%;
        width: 230px;
    }

    @include breakpoint(small) {
        max-width: 40vw;
    }


    @include breakpoint(small-tablet-portrait) {
        max-width: 45vw;
    }


    @media (max-height: 450px) {
        max-width: 17vw;
    }
}

/* CSS for elements before their be animated */
@media (min-width: 991px) {
    .scroll-bottom {
        // transform: translateY(250px);
        transition-property: all;
        bottom: -150px;
    }

    .tour-locations-title {
        opacity: 0;
        transition-property: opacity, transform;
        transition-timing-function: linear;
        transition-duration: 800ms;
        transition-delay: 800ms;
    }

    .tour-loactions-logo {
        opacity: 0;
        transform: translateY(-20px);
        transition-property: opacity, transform;
        transition-duration: 700ms;
        transition-delay: 1000ms;
        transition-timing-function: linear;
    }

    .map-wrap {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 800ms;
        transition-delay: 1000ms;
    }

    .abailable-tours {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 800ms;
        transition-delay: 1000ms;
    }

    .property-list {
        opacity: 0;
        transition-property: opacity;
        transition-timing-function: linear;
        transition-duration: 800ms;
        transition-delay: 1600ms;
    }

    .including-section {
        opacity: 0;
        transform: translateY(20px);
        transition-property: opacity, transform;
        transition-timing-function: linear;
        transition-duration: 600ms;
        transition-delay: 1800ms;
    }

    .tour-introduction-item {
        opacity: 0;
        transition-property: opacity, transform;
        transition-duration: 550ms;
        transition-delay: 1200ms;
        transition-timing-function: linear;
    }

    .tour-single-text-container {
        opacity: 0;
        transition-property: opacity, transform;
        transition-duration: 700ms;
        transition-delay: 1200ms;
        transition-timing-function: linear;
    }

    .weather-options--big {
        opacity: 0;
        transform: translateY(20px);
        transition-property: opacity, transform;
        transition-duration: 700ms;
        transition-delay: 1300ms;
        transition-timing-function: linear;
    }

    .tour-menu {
        .tour-menu-item {
            opacity: 0;
            transform: translateX(-20px);
            transition-property: transform, opacity;
            transition-duration: 900ms;
            transition-timing-function: linear;
            transition-delay: 200ms;
        }

        @for $i from 1 through 8 {
            .tour-menu-item-#{$i} {
                $stepDelay: 100ms;

                transition-delay: $stepDelay * $i;
            }
        }
    }

    .slider {
        opacity: 0;
        transform: translateY(-20px);
        transition-property: opacity, transform;
        transition-duration: 800ms;
        transition-delay: 1000ms;
        transition-timing-function: linear;
    }

    .type-of-fishing {
        opacity: 0;
        transform: translateY(-20px);
        transition-property: opacity, transform;
        transition-duration: 800ms;
        transition-delay: 1000ms;
        transition-timing-function: linear;
    }

    .getting-there {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 700ms;
        transition-delay: 400ms;
        transition-timing-function: linear;

        .getting-there-wrapper {
            opacity: 0;
            transition-property: opacity;
            transition-duration: 600ms;
            transition-delay: 1200ms;
            transition-timing-function: linear;
        }

        .getting-there-title {
            opacity: 0;
            transition-property: opacity;
            transition-duration: 400ms;
            transition-delay: 1800ms;
            transition-timing-function: linear;
        }

        .icon {
            opacity: 0;
            transition-property: opacity;
            transition-duration: 400ms;
            transition-delay: 2000ms;
            transition-timing-function: linear;
        }

        .getting-content {
            opacity: 0;
            transition-property: opacity;
            transition-duration: 400ms;
            transition-delay: 2500ms;
            transition-timing-function: linear;
        }
    }

    .accommodation-slider-wrapper {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 800ms;
        transition-delay: 1000ms;
        transition-timing-function: linear;
    }

    .accomodation-info {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 800ms;
        transition-delay: 1800ms;
        transition-timing-function: linear;
    }

    .book-form-wrapper .form-steps {
        .form-steps-list.step1-active {
            li,
            li:nth-child(n+2) {
                opacity: 0;
                transition-property: transform, opacity;
                transition-duration: 1000ms;
                transition-timing-function: linear;
            }

            @for $i from 4 through 1 {
                .form-step-#{$i} {
                    $stepDelay: 1000ms;

                    transition-delay: $stepDelay / $i + 1000;
                }
            }
        }
    }

    .booking-form {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 1000ms;
        transition-delay: 1200ms;
        transition-timing-function: linear;
    }

    .page-content-bg {
        transition-property: opacity;
        transition-duration: 1450ms;
        transition-timing-function: linear;
        opacity: 0.5;
    }

    .highlight-photos-first-photo {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 1000ms;
        transition-delay: 1200ms;
        transition-timing-function: linear;
    }

    .highlight-photos-second-photo {
        opacity: 0;
        transform: translateX(20px);
        transition-property: opacity, transform;
        transition-duration: 1000ms;
        transition-delay: 2000ms;
        transition-timing-function: linear;
    }

    .button-secondary-wrapper {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 1000ms;
        transition-delay: 1200ms;
        transition-timing-function: linear;
    }

    .highlight-photos-text {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 800ms;
        transition-delay: 2500ms;
        transition-timing-function: linear;
    }

    /* CSS for elements after their be animated */

    .animated {
        .scroll-bottom {
            bottom: 20px;

            // animation-name: bottom-arrow-animations;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        .page-content-bg {
            opacity: 1;
        }

        .tour-loactions-logo {
            opacity: 1;
            transform: translateY(0);
        }

        .tour-locations-title {
            opacity: 1;
            transform: translateY(0px);
        }

        .map-wrap {
            opacity: 1;
        }

        .property-list {
            opacity: 1;
        }

        .including-section {
            opacity: 1;
            transform: translateY(0);
        }

        .abailable-tours {
            opacity: 1;
        }

        .tour-introduction-item {
            opacity: 1;
            transform: translateX(0px);
        }

        .tour-single-text-container {
            opacity: 1;
        }

        .weather-options--big {
            opacity: 1;
            transform: translateY(0);
        }

        .slider {
            opacity: 1;
            transform: translateY(0);
        }

        .type-of-fishing {
            opacity: 1;
            transform: translateY(0);
        }

        .getting-there {
            opacity: 1;

            .getting-there-wrapper {
                opacity: 1;
            }

            .getting-there-title {
                opacity: 1;
            }

            .icon {
                opacity: 1;
            }

            .getting-content {
                opacity: 1;
            }
        }

        .accommodation-slider-wrapper {
            opacity: 1;
        }

        .accomodation-info {
            opacity: 1;
        }

        .book-form-wrapper .form-steps {
            .form-steps-list.step1-active {
                li {
                    opacity: 1;
                }

                li:nth-child(n+2) {
                    opacity: 0.3;
                }
            }
        }

        .booking-form {
            opacity: 1;
        }

        .highlight-photos-first-photo {
            opacity: 1;
        }

        .button-secondary-wrapper {
            opacity: 1;
        }

        .highlight-photos-second-photo {
            opacity: 1;
            transform: translateX(0);
        }

        .highlight-photos-text {
            opacity: 1;
        }
    }
}

@keyframes bottom-arrow-animations {
    0% {
        // transform: translateY(250px) translateX(-50%);
        bottom: -200px;
    }

    80% {
        // transform: translateY(-50px) translateX(-50%);
        bottom: 40px;
    }

    100% {
        // transform: translateY(0) translateX(-50%);
        bottom: 20px;
    }
}