.tour-list-menu {
    position: relative;
    display: inline-flex;
    margin: 0 auto;
    z-index: -1;
    opacity: 0;
    transition-duration: 200ms;
    transition-timing-function: linear;
    transition-property: opacity;

    &.active {
        z-index: 1;
        opacity: 1;

        .tour-list-menu-item {
            opacity: 1;

            &::before, &::after {
                max-width: 40px;
            }

            .tour-list-menu-item-link {
                opacity: 1;
            }
        }

        &::before, &::after {
            max-width: 1000px;
            transition-delay: 1.5s;
        }
    }

    &::before, &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 3px;
        width: 1400px;
        background-color: rgba(255, 255, 255, 0.2);
        max-width: 0;
        transition-duration: 800ms;
        transition-timing-function: linear;
        transition-property: max-width;
    }

    &::before {
        left: 100%;
    }

    &::after {
        right: 100%;
    }

    .tour-list-menu-item {
        position: relative;
        display: inline-block;
        width: 120px;

        @for $i from 0 through 15 {
            &:nth-child(#{$i}) {

                .tour-list-menu-item-link {
                    transition-delay: $i * 300ms;
                }

                &::before {
                    transition-delay: $i * 300ms;
                }

                &::after {
                    transition-delay: $i * 300ms + 100ms;
                }
            }
        }

        &.active, &:hover {
            .tour-list-menu-item-name {
                opacity: 1;
            }

            .tour-list-menu-item-link {
                &::before, &::after {
                    opacity: 1;
                }
            }
        }

        &::before, &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 3px;
            width: 40px;
            background-color: rgba(255, 255, 255, 0.2);
            max-width: 0;
            transition-duration: 200ms;
            transition-timing-function: linear;
            transition-property: max-width;
        }

        &::before {
            left: 0;
        }

        &::after {
            left: 50%;
            margin-left: 20px;
        }

        .tour-list-menu-item-link {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 0.5);
            opacity: 0;
            transition-timing-function: linear;
            transition-duration: 300ms;
            transition-property: opacity;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #fff;
                transform: translate(-50%, -50%);
                transition-timing-function: linear;
                transition-property: opacity;
                transition-duration: 300ms;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 50%;
                opacity: 0;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8px 13px 8px;
                border-color: transparent transparent #fff transparent;
                transition-timing-function: linear;
                transition-property: opacity;
                transition-duration: 300ms;
            }
        }

        .tour-list-menu-item-name {
            position: absolute;
            left: 50%;
            opacity: 0;
            max-width: 100px;

            // top: 0;
            bottom: 100%;
            margin-bottom: 10px;
            width: 100%;
            width: 120px;
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1px;
            transform: translateX(-50%);
            transition-duration: .3s;
            transition-property: all;
        }
    }

    @include breakpoint(extra-small) {
        .tour-list-menu-item {
            width: 80px;

            .tour-list-menu-item-name {
                opacity: 1;
                margin-bottom: 5px;
            }

            &::before, &::after {
                width: 30px;

                // content: "";
                // position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                // height: 3px;
                // background-color: rgba(255, 255, 255, 0.2);
                // max-width: 0;
                // transition-duration: 200ms;
                // transition-timing-function: linear;
                // transition-property: max-width;
           
            }

            &::before {
                left: 0;
            }

            &::after {
                left: 50%;
                margin-left: 10px;
            }

            .tour-list-menu-item-link::after {
                display: none;
            }

            &:nth-child(2n) {
                .tour-list-menu-item-name {
                    bottom: auto;
                    top: 100%;
                    margin-top: 5px;
                }
            }
        }
    }


    @include breakpoint(mobile-landscape) {
        .tour-list-menu-item {
            width: 50px;

            &::before, &::after {
                width: 15px;
            }
        }
    }
}

.tour-list-menu-wrapper {
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;

    .tour-list-menu + .tour-list-menu {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    @include breakpoint(extra-small) {
        padding-top: 0px;
        padding-bottom: 30px;

        .tour-list-menu + .tour-list-menu {
            top: 0;
        }
    }
}