.type-of-fishing {
    max-width: 81.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 40px;
    color: $darken;

    @extend .bg;

    .type-of-fishing-nav {
        padding: 0 70px;

        .fishing-nav-slide {
            opacity: 0.4;
            text-align: center;
            transition-duration: .3s;
            transition-property: all;

            h6 {
                max-width: 120px;
                min-height: 38px;
                margin-top: 12px;
                margin-left: auto;
                margin-right: auto;
                letter-spacing: 1px;
                line-height: 1.2;
                text-transform: uppercase;
            }

            &.slick-current {
                opacity: 1;

                .fishing-nav-slide-inner {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 14px 8px 0 8px;
                        border-color: $darken transparent transparent transparent;
                        transform: translateX(-50%);
                    }
                }
            }
        }

        .fishing-nav-slide-inner {
            position: relative;
            max-width: 125px;
            padding-top: 25px;
        }

        .fishing-nav-slide-img-wrapper {
            width: 126px;
            height: 126px;
            border-radius: 50%;
            border: 6px solid #fff;

            @extend .bg;
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            width: 27px;
            height: 49px;
            z-index: 5;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
        }

        .slick-prev {
            left: 10px;
            background-image: url("../images/ui/arrow-prev-dark.png");
        }

        .slick-next {
            right: 10px;
            background-image: url("../images/ui/arrow-next-dark.png");
        }
    }

    .type-of-fishing-content {
        max-width: 717px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 18px;
        font-family: $myriad-reg;
        font-size: 14px;
        text-align: left;

        .fishing-for-slide {
            letter-spacing: 0.35px;
            line-height: 1.75;
        }
    }

    .type-of-fishing-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 9px;
        padding-top: 15px;
        padding-bottom: 17px;
        padding-left: 5px;
        padding-right: 5px;
        font-family: $myriad-reg;
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0.35px;
        background-color: $darken;
        color: #fff;

        span {
            font-family: $myriad-italick;
            letter-spacing: 0.7px;
        }

        p {
            margin-left: 10px;
        }
    }

    @include breakpoint(large) {
        .type-of-fishing-nav {
            .fishing-nav-slide {
                h6 {
                    font-size: 14px;
                }
            }
        }
    }


    @media (min-width: 992px) and (max-height: 870px) {
        margin-top: 15px;
        padding-top: 10px;

        .type-of-fishing-nav {
            .fishing-nav-slide-img-wrapper {
                width: 90px;
                height: 90px;
                margin: auto;
            }
        }
    }

    @media (min-width: 992px) and (max-height: 760px) {
        .type-of-fishing-nav {
            .fishing-nav-slide-img-wrapper {
                width: 80px;
                height: 80px;
            }
        }

        .type-of-fishing-content {
            margin-top: 10px;

            .fishing-for-slide {
                font-size: 13px;
            }
        }
    }

    @include breakpoint(small) {
        .type-of-fishing-nav {
            padding: 0 30px;

            .fishing-nav-slide-inner {
                margin: auto;
            }
        }

        .type-of-fishing-content {
            max-width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
            text-align: center;
        }
    }


    @include breakpoint(mobile-landscape) {
        max-width: 100%;
    }
}