.video-section {
    //position: relative;

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 3;
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 227px;
        height: 198px;
        background-image: url(../images/play-button.png);
        z-index: 2;
        transform: translate(-50%, -50%);

        &.start {
            display: none;
        }
    }

    .video-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    @include breakpoint(small) {
        .page-content {
            .video-wrapper {
                position: relative;
            }
        }

        .video-wrapper {
            height: 100%;
        }
    }
}