.weather-options-container {
    padding: 20px 0;
    border-top: solid 3px rgba(255, 255, 255, 0.2);
    border-bottom: solid 3px rgba(255, 255, 255, 0.2);
}

.weather-options {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;

    .weather-options-item {
        flex-wrap: wrap;
        width: 100%;
        max-width: 150px;
        margin-top: 28px;
        font-size: 28px;

        + .weather-options-item {
            border-left: solid 3px rgba(#fff, 0.2);
        }
    }

    .weather-option-info {
        display: block;
        margin-top: 5px;
        font-size: 13px;

        sup {
            margin-right: 5px;
        }
    }

    &--big {
        .weather-options-item {
            max-width: 170px;
            padding-top: 12px;
            padding-bottom: 25px;
            font-size: 40px;
            border-right: solid 3px rgba(255, 255, 255, 0.2);

            &:first-child {
                border-left: solid 3px rgba(255, 255, 255, 0.2);
            }

            + .weather-options-item {
                border-left: none;
            }
        }

        .weather-option-info {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;

            + * {
                margin-top: 8px;
                margin-bottom: 14px;
            }
        }

        @media (min-height: 600px) and (max-height: 900px) {
            .weather-options-item {
                margin-top: 25px;
                padding-bottom: 0px;
                font-size: 25px;
            }

            .weather-option-info {
                font-size: 13px;
            }
        }
    }
}

.weather-options-title {
    font-size: 13px;
    text-transform: uppercase;
}

.icon-wave {
    display: inline-block;
    width: 38px;
    height: 16px;
    background-image: url("../images/ui/icon-wave.png");
    background-repeat: no-repeat;
    background-position: center center;
}