.mfp-bg {
    background-color: #fff;
    opacity: 0.25;
}

.white-popup {
    position: relative;
    background: rgba(#FFF, 0.85);
    padding: 30px;
    width: auto;
    width: 1200px;
    max-width: 70%;
    margin: 20px auto;
    font-size: 14px;
    line-height: 1.5;
    padding-top: 40px;
    box-shadow: 0 0 23px 2px rgba(0, 0, 0, 0.2);

    p {
        margin-bottom: 15px;
    }

    .mfp-close {
        top: 0;
        right: 5px;
    }
}