@import "variables";
@import "fonts";
@import "typography";

//base styles, and base classes like wrappers, containers or clearfix...
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'SourceSansPro-Regular';
    font-size: 13px;
    line-height: 1;

    .social-icons {
        position: fixed;
        bottom: 40px;
        right: 45px;
        z-index: 100;

        @include breakpoint(large) {
            bottom: 20px;
            right: 20px;
        }


        @include breakpoint(small) {
            &.fixed {
                display: none;
            }
        }
    }
}

.global-wrapper {
    flex: 1;
    z-index: 15;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;

    &:focus,
    &:active {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    position: relative;
}

.single-screen {
    .footer-main {
        display: none;
    }

    &.last-step {
        .footer-main {
            display: block;
        }
    }

    &.footer-scroll {
        .footer-main {
            //display: none;
            transform: translateY(100%);

            &.up {
                display: block;
                transform: translateY(0);
                transition-property: all;
                transition-duration: 1s;
            }

            transition-property: all;
            transition-duration: 1s;
        }

        .section {
            &.up {
                transform: translateY(-15%);
                transition-property: all;
                transition-duration: 1s;
            }
        }
    }

    .page-container {
        height: 100vh;
        overflow: hidden;
    }

    .section {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition-duration: 1s;
        z-index: 1;

        &.animated {
            opacity: 1;
            transition-duration: 1s;
            z-index: 10;
        }
    }
}

.page-container {
    width: 100%;
}

.text-center {
    text-align: center;
}

.clearfix {
    &::before {
        content: "";
        display: table;
        clear: both;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

//Body class for index.html FullPagePlugin
.section2,
.section3,
.section4,
.section5,
.section6 {
    .logo-container {
        display: block;
    }
}

.section2 {
    .main-header {
        .menu-toggle {
            span {
                background-color: #fff;
            }
        }
    }

    .logo-container {
        .logo-mini {
            &.white {
                opacity: 0;
            }

            &.black {
                opacity: 1;
            }
        }
    }
}

.section3,
.section6 {
    .logo-container {
        .logo-mini {
            &.white {
                opacity: 0;
            }

            &.black {
                opacity: 1;
            }
        }
    }

    .page-navigation {
        li {
            a {
                border: 2px solid rgba(#333, 0.3);
            }

            &.active {
                .page-title {
                    color: rgba(#333, 0.5);
                }

                a::before {
                    background-color: rgba(#333, 0.5);
                }
            }

            &.active-page-nav {
                border: 2px solid #333;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #333;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .customer-menu {
        color: $blue-dark;
    }

    .social-icons {
        color: #fff;
    }

    .main-header {
        .menu-toggle {
            span {
                background-color: #fff;
            }
        }
    }
}

.section7 {
    .page-navigation {
        //display: none;
   
    }
}

//Body class for tour.html FullPagePlugin
.section5-tour,
.section6-tour,
.section7-tour,
.section8-tour {
    .customer-menu {
        color: $darken;
    }

    .main-header {
        .menu-toggle {
            span {
                background-color: #fff;
            }
        }
    }

    .tour-menu {
        .tour-menu-link {
            color: #fff;
        }

        .tour-menu-item {
            &.active {
                .tour-menu-link::before {
                    border-color: transparent transparent transparent $yellow;
                }
            }
        }
    }
}

.section5-tour {
    .tour-menu {
        .tour-menu-link {
            color: #fff;
        }

        .tour-menu-item {
            &.active {
                .tour-menu-link::before {
                    border-color: transparent transparent transparent $yellow;
                }
            }
        }
    }
}

.section6-tour,
.section7-tour {
    .social-icons {
        color: #fff;
    }

    .tour-menu {
        .tour-menu-link {
            &.tour-menu-link--active {
                &::before {
                    border-color: transparent transparent transparent $darken;
                }
            }
        }
    }

    .logo-container {
        .logo-mini {
            &.black {
                opacity: 0;
            }

            &.white {
                opacity: 1;
            }
        }
    }
}

.section7-tour {
    .social-icons {
        color: #fff;
    }
}

//Body class for About page

.section1-about,
.section2-about,
.section3-about {
    .main-header {
        .menu-toggle {
            span {
                background-color: $blue-dark;
            }
        }
    }

    .customer-menu {
        color: $blue-dark;
    }

    .social-icons {
        color: $blue-dark;
    }
}

.section2-about,
.section3-about {
    .page-navigation {
        li {
            a {
                border: 2px solid rgba(#333, 0.3);
            }

            &.active {
                .page-title {
                    color: rgba(#333, 0.5);
                }

                a::before {
                    background-color: rgba(#333, 0.5);
                }
            }

            &.active-page-nav {
                border: 2px solid #333;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #333;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.visible-footer {
    .logo-mini {
        display: none;
    }

    .social-icons {
        color: #fff;
    }
}