//@font-fase
/* SourceSansPro */
@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url("../fonts/SourceSansPro-Regular.eot");
    src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"), url("../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg"), url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url("../fonts/SourceSansPro-Semibold.eot");
    src: url("../fonts/SourceSansPro-Semibold.woff2") format("woff2"), url("../fonts/SourceSansPro-Semibold.woff") format("woff"), url("../fonts/SourceSansPro-Semibold.ttf") format("truetype"), url("../fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format("svg"), url("../fonts/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url("../fonts/SourceSansPro-Bold.eot");
    src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"), url("../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold") format("svg"), url("../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

/* Myriad */
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("../fonts/MyriadPro-Regular.eot");
    src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg"), url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-LightIt';
    src: url("../fonts/MyriadPro-LightIt.eot");
    src: url("../fonts/MyriadPro-LightIt.woff2") format("woff2"), url("../fonts/MyriadPro-LightIt.woff") format("woff"), url("../fonts/MyriadPro-LightIt.ttf") format("truetype"), url("../fonts/MyriadPro-LightIt.svg#MyriadPro-LightIt") format("svg"), url("../fonts/MyriadPro-LightIt.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

/* Sansation */
@font-face {
    font-family: 'Sansation-Light';
    src: url("../fonts/Sansation-Light.eot");
    src: url("../fonts/Sansation-Light.woff2") format("woff2"), url("../fonts/Sansation-Light.woff") format("woff"), url("../fonts/Sansation-Light.ttf") format("truetype"), url("../fonts/Sansation-Light.svg#Sansation-Light") format("svg"), url("../fonts/Sansation-Light.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation-Regular';
    src: url("../fonts/Sansation-Regular.eot");
    src: url("../fonts/Sansation-Regular.woff2") format("woff2"), url("../fonts/Sansation-Regular.woff") format("woff"), url("../fonts/Sansation-Regular.ttf") format("truetype"), url("../fonts/Sansation-Regular.svg#Sansation-Regular") format("svg"), url("../fonts/Sansation-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation-Bold';
    src: url("../fonts/Sansation-Bold.eot");
    src: url("../fonts/Sansation-Bold.woff2") format("woff2"), url("../fonts/Sansation-Bold.woff") format("woff"), url("../fonts/Sansation-Bold.ttf") format("truetype"), url("../fonts/Sansation-Bold.svg#Sansation-Bold") format("svg"), url("../fonts/Sansation-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

/* Raleway */
@font-face {
    font-family: 'Raleway-LightItalic';
    src: url("../fonts/Raleway-LightItalic.eot");
    src: url("../fonts/Raleway-LightItalic.woff2") format("woff2"), url("../fonts/Raleway-LightItalic.woff") format("woff"), url("../fonts/Raleway-LightItalic.ttf") format("truetype"), url("../fonts/Raleway-LightItalic.svg#Raleway-LightItalic") format("svg"), url("../fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url("../fonts/Raleway-SemiBold.eot");
    src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype"), url("../fonts/Raleway-SemiBold.svg#Raleway-SemiBold") format("svg"), url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}