//typography: base styles for fonts, p, a, standard h1, h2 ...
h1 {
    font-size: 60px;
    text-transform: uppercase;

    @include breakpoint(small) {
        font-size: 45px;
    }


    @include breakpoint(extra-small) {
        font-size: 30px;
    }
}

h2.big-heading {
    font-size: 56px;
    font-family: $sans-light;
    text-transform: uppercase;
    font-weight: 100;

    @include breakpoint(small) {
        font-size: 36px;
    }
}

h2 {
    font-family: $f-bold;
    font-size: 32px;
    letter-spacing: 2px;

    @include breakpoint(extra-small) {
        font-size: 25px;
    }
}

h4 {
    font-size: 23px;
    font-weight: normal;
}

h6 {
    font-size: 16px;
    font-family: $f-bold;
    letter-spacing: 1px;
}