//$varibles color and sizes

//font's
$f-bold: "SourceSansPro-Bold";
$sans-light: "Sansation-Light";
$sans-regular: "Sansation-Regular";
$sans-bold: "Sansation-Bold";
$myriad-reg: "MyriadPro-Regular";
$myriad-italick: "MyriadPro-LightIt";
$raleway-italic: "Raleway-LightItalic";
$raleway-sbold: "Raleway-SemiBold";

//color's
$yellow: #f0c73a;
$darken: #283042;
$blue-dark: #12436f;
$gray-dark: #333333;
$gray-light: #616161;
$red: #ff0000;

$light-bg: #f7f7f7;

$font-color: #2a3244;